/bin/
/build/
**/_notes/
.mno
.~
*.zip
.classpath
.project
target
bin
.settings
.gradle
build
*.orig
archive.zip
*.map
*.swp
bower_components
node_modules
*.orig
archive.zip
*.map
*.swp
**/html/assets/
*.log
.idea/
npm-debug.log
.DS_Store
/dist/