<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/retrieve.css">
     <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <title>售后服务</title>
</head>
<body>
    <div id="back_password" v-cloak>
    <div class="yd-main">
        <div id="yd-head">
        <div class="yd-head">
                <img src="../../assets/re-logo.png" alt="">
        </div>
        </div>
        <div class="yd-retrieve">
            <div class="yd-re-title">找回密码</div>
            <div class="r-promote">
                <div class="promote-nav">
                    <a href="" class="pro-act">1.验证身份</a>
                    <a href="" >2.修改登录密码</a>
                    <a href="" >3.完成</a>
                </div>

                <div class="promote-form">
                    <div class="pro-item">
                        <div class="pro-label">手机号码：</div>
                        <div><input class="put-phone" id="phone" type="text" v-model="phone"></div>
                    </div>
                    <div class="pro-item pro-code" >
                        <div class="pro-label">手机验证码：</div>
                        <div>
                            <input type="text" class="code" v-model="code">
                            <div class="login-btn" v-on:click="getphone">获取验证码</div>
                        </div>
                    </div>
                    <div class="pro-item pro-code" style="display:none">
                        <div class="pro-label">验证码：</div>
                        <div>
                            <input type="text" class="code">
                            <div class="login-code"></div>
                            <div class="change-code">看不清？<a class="">换一张</a></div>
                        </div>
                    </div>
                    <div class="pro-item">
                        <div class="pro-label"></div>
                        <a href="JavaScript:;" class="pro-sub" v-on:click="subxinxi">
                            提交
                        </a>
                </div>


            </div>


        </div>
        <div id="yd-footer">
            Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
        </div>
     </div>
    </div>
</body>
<script>
    $('.yd-head img').click(function () {
        location.href = '首页.html'
    })
</script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
<script src="../../js/config.js"></script>
<script src="../../js/user/get_password.js"></script>
</html>