<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/serve.css">
    <link rel="stylesheet" href="../../css/promote.css">
    <link rel="stylesheet" href="../../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../../js/jquery-1.11.3.min.js"></script>
    <title></title>
    <link rel="stylesheet" href="../../css/userinfo.css">
</head>
<body>
    <div class="yd-main">
        <div id="yd-head">
        <div class="yd-head" id="top">
        <div class="yd-head-l">
            <div>
                <img src="../../assets/index.png" alt="">
                <a href="../index.html">首页</a>
            </div>
            <div>
                <a href="../choose_add.html"><span>切换城市</span></a>
            </div>
            <div class="yd-head-l-add">
                <img src="../../assets/coordinate.png" alt="">
                <a href="../choose_add.html">{{cityname}}</a>
            </div>
        </div>
        <div class="yd-head-r">
            <div v-if="id">
                <div>
                    <span> <a href="../personal/edit_profile.html">欢迎 {{user}}</a></span>
                    <span style="margin-left: 12px"> <a href="../user/login.html" id="out_user">退出</a></span>
                </div>
            </div>
            <div v-else>
                <div>
                    <span><a href="../user/login.html">登录</a></span>
                </div>
                <div>
                    <span style="margin-left: 12px">  <a href="../user/user_log_on.html">注册</a></span>
                </div>
            </div>
            <div>
                <span style="font-size: 12px">|</span>
            </div>
           <a href="../personal/my_order.html" v-if="id">
                <span>我的订单</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的订单</span>
            </a>
            <a href="../personal/my_ecai.html" v-if="id">
                <span>我的e采</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的e采</span>
            </a>
            <a href="../zaixian_kefu.html" v-if="id">
                <span>客户服务</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>客户服务</span>
            </a>
            <a href="#">
                <span>手机e采</span>
            </a>
        </div>
    </div>
        </div>
        <div class="yd-site">
            <a href="../index.html">E采商城</a>
            <span> <img src="../../assets/ShapeCopy.png" alt=""> </span>
            <a href="my_ecai.html">我的E采</a>
        </div>
        <div class="yd-help-content">
            <div class="yd-help-l">
                <div class="user-info"  id="user_muen">
                    <div><img :src="avatar| formatImg140x140" alt=""></div>
                    <div>
                        <div class="vip-lv"><a href="my_ecai.html"><img src="../../assets/tongpai.png" alt="">铜牌会员</a></div>
                        <div class="nickname"> {{user}}</div>
                    </div>
                </div>
                <div class="serve-con">
                    <div class="serve-group">
                        <div class="serve-title">交易管理</div>
                        <a href="../personal/my_order.html">我的订单</a>
                        <a href="../personal/my_fight_alone.html">我的拼单</a>
                        <a href="../personal/my_coupon.html">我的优惠券</a>
                        <a href="../personal/my_shopping_cart.html">我的购物车</a>
                        <a href="../personal/my_concern.html">我的关注</a>
                    </div>
                    <div class="serve-group">
                        <div class="serve-title">服务中心</div>
                        <a href="../personal/my_fan.html">我的返修单/换货</a>
                        <a href="../personal/my_news.html">我的消息 <span>（2）</span></a>
                    </div>
                    <div class="serve-group">
                        <div class="serve-title">个人信息管理</div>
                        <a href="../personal/edit_profile.html">编辑个人资料</a>
                        <a href="../personal/add.html">地址管理</a>
                        <a href="../personal/shen_qiye.html">升级为企业用户</a>
                        <a href="../Apply_shop/Apply_shop.html" class="ser-act">申请开通店铺</a>
                    </div>
                </div>
            </div>
            <div class="yd-help-r">
                <div class="r-top">申请店铺</div>
                <div class="r-promote">
                    <div class="promote-nav">
                        <a href="" class="pro-act">1.开店须知</a>
                        <a href="">2.填写信息</a>
                        <a href="">3.等待审核</a>
                    </div>
                    <div class="promote-tip">
                        <p>服务须知：审核时间为1-2个工作日，遇法定节假日顺延。</p>
                        <p>如有疑问，请拨打服务电话：400-686-6888或 <a href="">留言咨询</a></p>
                    </div>

                    <div class="apply">
                        <div>
                            <p> 1、我在e采已经开了个店了，我用别人的营业执照再开一个店可以吗？</p>
                            <p>答：不可以。未经e采平台同意，将本人e采账号提供给他人作开店使用，否则由此导致相关争议、诉讼及因店铺经营中的违法违规行为导致一切人身、财产权益损害，均由本人自行承担全部民事、行政及刑事责任。</p>
                        </div>
                        <div>
                            <p> 2、我可以把店铺转租给其他人吗?</p>
                            <p>答：不可以。未经e采平台同意，将本人e采账号提供给他人作开店使用，否则由此导致相关争议、诉讼及因店铺经营中的违法违规行为导致一切人身、财产权益损害，均由本人自行承担全部民事、行政及刑事责任。</p>
                        </div>
                        <div>
                            <p>3、开店要收费吗?</p>
                            <p>答：e采开店是免费的，不收取任何服务费用。</p>
                        </div>
                        <div>
                            <p>4、我可以开多个店铺吗?</p>
                            <p>答：不可以。一张身份证（一张营业执照）只能开一个店铺。开店后营业执照不得注销。</p>
                        </div>
                        <div>
                            <p>5、我已经开过店铺，现在想要注销原来的店铺重新开店，可以吗?</p>
                            <p>答：不可以，e采暂时不提供注销店铺的服务。用户一但成功开店就无法再用身份证（营业执照）另开一家店铺。</p>
                        </div>
                    </div>

                    <div>
                        <a href="Apply_shop2.html" class="pro-sub">
                            下一步
                        </a>
                    </div>
                </div>


            </div>
        </div>
        <div id="yd-footer">
            Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
        </div>
    </div>
</body>
<script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="../../js/utils.js"></script>
<script src="../../js/config.js"></script>
<script src="../../js/top.js"></script>
<script>
    $('.add').click(function () {
         var val =  $(this).parent().siblings().eq(0).val()
        var type = $('.add').index($(this))

    })
    $('.reduce').click(function () {
        console.log(22)
    })
</script>
</html>