<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/helpcontent.css">
    <link rel="stylesheet" href="../../css/my-e.css">
    <link rel="stylesheet" href="../../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../../js/jquery-1.11.3.min.js"></script>
    <title>售后服务</title>
</head>
<style>
    .yd-help-l div,.yd-help-l a{
        border-bottom: none;
        margin-bottom: 0;
    }
</style>
<body>
    <div class="yd-main">
        <div id="yd-head">
           <div class="yd-head" id="top">
        <div class="yd-head-l">
            <div>
                <img src="../../assets/index.png" alt="">
                <a href="../index.html">首页</a>
            </div>
            <div>
                <a href="../choose_add.html"><span>切换城市</span></a>
            </div>
            <div class="yd-head-l-add">
                <img src="../../assets/coordinate.png" alt="">
                <a href="../choose_add.html">{{cityname}}</a>
            </div>
        </div>
        <div class="yd-head-r">
            <div v-if="id">
                <div>
                    <span> <a href="../personal/edit_profile.html">欢迎 {{user}}</a></span>
                    <span style="margin-left: 12px"> <a href="../user/login.html" id="out_user">退出</a></span>
                </div>
            </div>
            <div v-else>
                <div>
                    <span><a href="../user/login.html">登录</a></span>
                </div>
                <div>
                    <span style="margin-left: 12px">  <a href="../user/user_log_on.html">注册</a></span>
                </div>
            </div>
            <div>
                <span style="font-size: 12px">|</span>
            </div>
           <a href="../personal/my_order.html" v-if="id">
                <span>我的订单</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的订单</span>
            </a>
            <a href="../personal/my_ecai.html" v-if="id">
                <span>我的e采</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的e采</span>
            </a>
            <a href="../zaixian_kefu.html" v-if="id">
                <span>客户服务</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>客户服务</span>
            </a>
                    <a href="##">
                        <span>手机e采</span>
                    </a>
                </div>
            </div>
        </div>
        <div style="background-image: linear-gradient(-180deg, #EEEEEE 0%, #FFFFFF 100%);width: 100%;">
        <div class="self-message" id="user_muen">
            <div>
                <div class="mes-img">
                    <div class="self-avatar">
                        <img :src="avatar | formatImg140x140" alt="">
                    </div>
                    <div>
                        <a href="../personal/my_ecai.html"><img src="../../assets/tonghui.png" alt=""></a>
                    </div>
                </div>
                <div>
                    <div class="nickname">{{user}}</div>
                    <div>
                        <img src="../../assets/qiyehuiyuan.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="operation-group">
                    <a href="我的订单.html" class="op-item">
                        <div><img src="../../assets/待付款.png" alt=""></div>
                        <div>待付款<span class="op-count">0</span></div>
                    </a>
                    <div class="op-item">
                        <div><img src="../../assets/待发货.png" alt=""></div>
                        <div>待发货<span class="op-count">0</span></div>
                    </div>
                    <div class="op-item">
                        <div><img src="../../assets/待收货.png" alt=""></div>
                        <div>待收货<span class="op-count">0</span></div>
                    </div>
                    <div class="op-item">
                        <div><img src="../../assets/待评价.png" alt=""></div>
                        <div>待评价<span class="op-count">0</span></div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="yd-site">
            <a href="../index.html">E采商城</a>
            <span> <img src="../../assets/ShapeCopy.png" alt=""> </span>
            <a href="my_ecai.html">我的E采</a>
        </div>
        <div class="yd-help-content">
            <div class="yd-help-l">
                <div class="yd-help-group">
                    <div class="yd-g-top">交易管理</div>
                    <a href="../personal/my_order.html">我的订单</a>
                    <a href="../personal/my_fight_alone.html">我的拼单</a>
                    <a href="../personal/my_coupon.html">我的优惠券</a>
                    <a href="../personal/my_shopping_cart.html">我的购物车</a>
                    <a href="../personal/my_concern.html">我的关注</a>
                </div>
                <div class="yd-help-group">
                    <div class="yd-g-top">服务中心</div>
                    <a href="../personal/my_fan.html">我的返修单/换货</a>
                    <a href="../personal/my_news.html">我的消息 <span>（2）</span></a>
                </div>
                <div class="yd-help-group">
                    <div class="yd-g-top">个人信息管理</div>
                    <a href="../personal/edit_profile.html">编辑个人资料</a>
                    <a href="../personal/add.html">地址管理</a>
                    <a href="../personal/shen_qiye.html">升级为企业用户</a>
                    <a href="../Apply_shop/Apply_shop.html" class="ser-act">申请开通店铺</a>
                </div>
            </div>
            <div class="yd-help-r">
                <div class="yd-r-top">
                    <div>
                        <span class="my-title">我的物流</span>
                        <span><a href="订单详情.html">订单详情</a> <i class="fa fa-angle-right"></i></span>
                    </div>
                    <div>
                        <div class="my-info">
                            <div><img src="../../assets/imagec.png" alt=""></div>
                            <div class="my-data">
                                <p>[上海市]订单已从上海发出，准备发往上海中转。</p>
                                <p>2017-04-18  10:20:30</p>
                            </div>
                        </div>
                        <a href="确认收货.html" class="my-btn">
                            确认收货
                        </a>
                    </div>
                </div>
                <div class="yd-r-con">
                    <div class="yd-r-title">
                        <span>我的待付款</span>
                        <span><a href="">订单详情</a> <i class="fa fa-angle-right"></i></span>
                    </div>
                    <div class="order-info">
                        <div class="my-info">
                            <div><img src="../../assets/imagec.png" alt=""></div>
                            <div class="my-data">
                                <p>联想E570c15.6英寸笔记本</p>
                                <p class="order-color">黑色</p>
                            </div>
                        </div>
                        <div class="order-info-r">
                            <span>1</span>
                            <span>2900.00</span>
                        </div>
                    </div>
                    <div class="order-info">
                        <div class="my-info">
                            <div><img src="../../assets/imagec.png" alt=""></div>
                            <div class="my-data">
                                <p>联想E570c15.6英寸笔记本</p>
                                <p class="order-color">黑色</p>
                            </div>
                        </div>
                        <div class="order-info-r">
                            <span>1</span>
                            <span>2900.00</span>
                        </div>
                    </div>
                    <div class="order-res">
                        <span>总额 ￥ 1938</span> <span>(含快递：0.00元)</span><span class="my-btn">立即付款</span>
                    </div>
                </div>
                <div class="yd-r-con">
                    <div class="yd-r-title">
                        <span>我的拼单</span>
                        <span><a href="订单详情.html">订单详情</a> <i class="fa fa-angle-right"></i></span>
                    </div>
                    <div class="order-info">
                        <div class="my-info">
                            <div><img src="../../assets/e采商城图片/商品详情页/1.jpg" alt=""></div>
                            <div class="my-data">
                                <p>联想E570c15.6英寸笔记本</p>
                                <p class="order-color">黑色</p>
                            </div>
                        </div>
                        <div class="order-info-r">
                            <span>￥500定金已支付</span>
                            <span>1</span>
                            <span style="position: relative">
                                2900.00
                                <div style="font-size: 12px;color: #a5a5a5;position: absolute;right: 5px;">总额</div>
                            </span>
                        </div>
                    </div>
                    <div class="order-res">
                        <span>总额 ￥ 1938</span> <span>(含快递：0.00元)</span><span class="my-btn">支付尾款</span>
                    </div>
                </div>

                <div class="yd-r-con">
                    <div class="yd-r-title">
                        <span>我关注的商品</span>
                        <span><a href="">查看更多</a> </span>
                    </div>
                    <div class="focus-group">
                        <a href="商品详情页.html" class="fo-item">
                            <div><img src="../../assets/e采商城图片/商品详情页/1.jpg" alt=""></div>
                            <div>Beats蓝牙无线音响</div>
                            <div class="fo-price">￥1598.00</div>
                        </a>
                        <div class="fo-item">
                            <div><img src="../../assets/imagec.png" alt=""></div>
                            <div>Beats蓝牙无线音响</div>
                            <div class="fo-price">￥1598.00</div>
                        </div>
                        <div class="fo-item">
                            <div><img src="../../assets/imagec.png" alt=""></div>
                            <div>Beats蓝牙无线音响</div>
                            <div class="fo-price">￥1598.00</div>
                        </div>
                        <div class="fo-item">
                            <div><img src="../../assets/imagec.png" alt=""></div>
                            <div>Beats蓝牙无线音响</div>
                            <div class="fo-price">￥1598.00</div>
                        </div>
                        <div class="fo-item">
                            <div><img src="../../assets/imagec.png" alt=""></div>
                            <div>Beats蓝牙无线音响</div>
                            <div class="fo-price">￥1598.00</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div id="yd-footer">
            Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
        </div>
        <div class="mask"></div>
        <div class="yd-alert">
            <div>
                <img src="../../assets/恭喜您.png" alt="">
            </div>
            <div>提交申请成功，请耐心等待商家处理哦~</div>
        </div>
    </div>
</body>
<script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="../../js/utils.js"></script>
<script src="../../js/config.js"></script>
<script src="../../js/top.js"></script>
</html>