<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/serve.css">
    <link rel="stylesheet" href="../../css/return.css">
    <link rel="stylesheet" href="../../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../../js/jquery-1.11.3.min.js"></script>
    <title></title>
</head>
<style>

</style>
<body>
    <div id="my_fan" v-cloak>
    <div class="yd-main">
        <div id="yd-head">
        <div class="yd-head" id="top">
        <div class="yd-head-l">
            <div>
                <img src="../../assets/index.png" alt="">
                <a href="../index.html">首页</a>
            </div>
            <div>
                <a href="../choose_add.html"><span>切换城市</span></a>
            </div>
            <div class="yd-head-l-add">
                <img src="../../assets/coordinate.png" alt="">
                <a href="../choose_add.html">{{cityname}}</a>
            </div>
        </div>
        <div class="yd-head-r">
            <div v-if="id">
                <div>
                    <span> <a href="../personal/edit_profile.html">欢迎 {{user}}</a></span>
                    <span style="margin-left: 12px"> <a href="../user/login.html" id="out_user">退出</a></span>
                </div>
            </div>
            <div v-else>
                <div>
                    <span><a href="../user/login.html">登录</a></span>
                </div>
                <div>
                    <span style="margin-left: 12px">  <a href="../user/user_log_on.html">注册</a></span>
                </div>
            </div>
            <div>
                <span style="font-size: 12px">|</span>
            </div>
           <a href="../personal/my_order.html" v-if="id">
                <span>我的订单</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的订单</span>
            </a>
            <a href="../personal/my_ecai.html" v-if="id">
                <span>我的e采</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的e采</span>
            </a>
            <a href="../zaixian_kefu.html" v-if="id">
                <span>客户服务</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>客户服务</span>
            </a>
            <a href="#">
                <span>手机e采</span>
            </a>
        </div>
    </div>
        </div>
        <div class="yd-site">
            <a href="../index.html">E采商城</a>
            <span> <img src="../../assets/ShapeCopy.png" alt=""> </span>
            <a href="my_ecai.html">我的E采</a>
        </div>
        <div class="yd-help-content">
            <div class="yd-help-l">
                <div class="user-info"  id="user_muen">
                    <div><img :src="avatar| formatImg140x140" alt=""></div>
                    <div>
                        <div class="vip-lv"><a href="my_ecai.html"><img src="../../assets/tongpai.png" alt="">铜牌会员</a></div>
                        <div class="nickname"> {{user}}</div>
                    </div>
                </div>
                <div class="serve-con">
                    <div class="serve-group">
                        <div class="serve-title">交易管理</div>
                        <a href="my_order.html">我的订单</a>
                        <a href="my_fight_alone.html">我的拼单</a>
                        <a href="my_coupon.html">我的优惠券</a>
                        <a href="my_shopping_cart.html">我的购物车</a>
                        <a href="my_concern.html">我的关注</a>
                    </div>
                    <div class="serve-group">
                        <div class="serve-title">服务中心</div>
                        <a href="my_fan.html" class="ser-act">我的返修单/换货</a>
                        <a href="my_news.html">我的消息 <span>（2）</span></a>
                    </div>
                    <div class="serve-group">
                        <div class="serve-title">个人信息管理</div>
                        <a href="edit_profile.html">编辑个人资料</a>
                        <a href="add.html">地址管理</a>
                        <a href="shen_qiye.html">升级为企业用户</a>
                        <a href="../Apply_shop/Apply_shop.html">申请开通店铺</a>
                    </div>
                </div>
            </div>
            <div class="yd-help-r" style="">
                <div class="r-top">我的返修退/换货</div>
                <div class="r-nav">
                    <div>
                        <a href="javascript:;" @click="fan_status=1" :class="fan_status==1 ? 'r-nav-item ser-act':''">全部</a>
                        <a href="javascript:;" @click="fan_status=201" :class="fan_status==201 ? 'r-nav-item ser-act':''">处理中</a>
                        <a href="javascript:;" @click="fan_status=500" :class="fan_status==500 ? 'r-nav-item ser-act':''">已完成</a>
                    </div>
                    <div>
                        <input type="text">
                        <img src="../../assets/搜索%20灰色.png" alt="">
                    </div>
                </div>


                <div class="r-con">
                    <div class="return-top">
                        <div class="return-g-info">商品信息</div>
                        <div class="return-price">退款金额</div>
                        <div class="return-time">申请时间</div>
                        <div class="return-type">服务类型</div>
                        <div class="return-state">
                            退款状态
                            <div class="up-down">
                                <i class="add"></i>
                                <i class="reduce"></i>
                            </div>
                        </div>
                        <div class="return-operation">交易操作</div>
                    </div>
                     <!-- 未发货申请退款 -->
                    <div class="return-item"  v-show="fan_status==201 || fan_status==1" v-for="(fan,index) in fan_list" v-if="fan.status==201">
                        <div>
                            <div class="order-time">
                                <span>{{fan.createTime | formatDateTime}}</span>
                                
                                <span>订单号：{{fan.id}}</span>
                            </div>
                            <div>
                                <span v-if="fan.shopType==0">{{fan.shopName}} <span class="store-type">普通商店</span></span>
                                    <span v-else>{{fan.shopName}} <span class="store-type">e采自营</span></span>
                                    <span><img src="../../assets/contactb.png" alt="">联系商家</span>
                            </div>
                        </div>
                        <div class="return-det-info" v-for="v in fan.lineItems">
                            <div class="return-g-info">
                                <div class="info-avatar">
                                    <img  :src="v.mainImg | formatImg170x160" alt="">
                                </div>
                                <div>
                                    <p style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width:190px">{{v.name}}</p>
                                    <p>{{v.skuName}}</p>
                                </div>
                            </div>
                            <div class="return-price">{{v.fee | formatFee}}</div>
                            <div class="return-time" v-if="fan.status==201">{{fan.refund.applyTime | formatDateTime}}</div>
                             <div class="return-time" v-else>{{fan.repair.createTime | formatDateTime}}</div>
                            <div class="return-type" v-if="fan.status==201">未发货申请退款</div>
                            <div class="return-type" v-else>完成</div>
                            <div class="return-state">
                                退款中
                            </div>
                            <div class="return-operation">查看详情</div>
                        </div>

                    </div>
                    <!-- 完成 -->
                    <div class="return-item"  v-show="fan_status==500 || fan_status==1"v-for="(fan,index) in fan_list" v-if="fan.status==500">
                        <div>
                            <div class="order-time">
                                <span>{{fan.createTime | formatDateTime}}</span>
                                
                                <span>订单号：{{fan.id}}</span>
                            </div>
                            <div>
                                <span v-if="fan.shopType==0">{{fan.shopName}} <span class="store-type">普通商店</span></span>
                                    <span v-else>{{fan.shopName}} <span class="store-type">e采自营</span></span>
                                    <span><img src="../../assets/contactb.png" alt="">联系商家</span>
                            </div>
                        </div>
                        <div class="return-det-info" v-for="v in fan.lineItems">
                            <div class="return-g-info">
                                <div class="info-avatar">
                                    <img  :src="v.mainImg | formatImg170x160" alt="">
                                </div>
                                <div>
                                    <p style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width:190px">{{v.name}}</p>
                                    <p>{{v.skuName}}</p>
                                </div>
                            </div>
                            <div class="return-price">{{v.fee | formatFee}}</div>
                            <div class="return-time" v-if="fan.status==201">{{fan.refund.applyTime | formatDateTime}}</div>
                             <div class="return-time" v-else>{{fan.repair.createTime | formatDateTime}}</div>
                            <div class="return-type" v-if="fan.status==201">未发货申请退款</div>
                            <div class="return-type" v-else>完成</div>
                            <div class="return-state">
                                退款中
                            </div>
                            <div class="return-operation">查看详情</div>
                        </div>

                    </div>

                    <!-- <div class="return-item">
                        <div>
                            <div class="order-time">
                                <span>2017年5月15日</span>
                                <span>12:00:00</span>
                                <span>订单号：201436541722738</span>
                            </div>
                            <div>
                                <span>e采商城 <span class="store-type">自营</span></span>
                                <span><img src="../../assets/contactb.png" alt="">联系商家</span>
                            </div>
                        </div>
                        <div class="return-det-info">
                            <div class="return-g-info">
                                <div class="info-avatar">
                                    <img src="../../assets/imagec.png" alt="">
                                </div>
                                <div>
                                    <p>联想E570c15.6英寸笔记本</p>
                                    <p>黑色</p>
                                </div>
                            </div>
                            <div class="return-price">2999.00</div>
                            <div class="return-time">2017年5月12 12:00:00</div>
                            <div class="return-type">仅退款</div>
                            <div class="return-state">
                                退款中
                            </div>
                            <div class="return-operation">查看详情</div>
                        </div>
 -->
                    </div>



                </div>



            </div>
        </div>
        <div id="yd-footer">
            Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
        </div>
        <div class="mask"></div>
        <div class="yd-alert">
            <div>
                <img src="../../assets/恭喜您.png" alt="">
            </div>
            <div>提交申请成功，请耐心等待商家处理哦~</div>
        </div>
    </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
<script src="../../js/utils.js"></script>
<script src="../../js/config.js"></script>
<script src="../../js/top.js"></script>
<script src="../../js/personal/my_fan.js"></script>
</html>