<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/serve.css">
    <link rel="stylesheet" href="../../css/myorder.css">
    <link rel="stylesheet" href="../../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../../js/jquery-1.11.3.min.js"></script>
    <title></title>
</head>
<body>
    <div id="my_order" v-cloak>
    <div class="yd-main">
        <div id="yd-head">
            <div class="yd-head" id="top">
        <div class="yd-head-l">
            <div>
                <img src="../../assets/index.png" alt="">
                <a href="../index.html">首页</a>
            </div>
            <div>
                <a href="../choose_add.html"><span>切换城市</span></a>
            </div>
            <div class="yd-head-l-add">
                <img src="../../assets/coordinate.png" alt="">
                <a href="../choose_add.html">{{cityname}}</a>
            </div>
        </div>
        <div class="yd-head-r">
            <div v-if="id">
                <div>
                    <span> <a href="../personal/edit_profile.html">欢迎 {{user}}</a></span>
                    <span style="margin-left: 12px"> <a href="../user/login.html" id="out_user">退出</a></span>
                </div>
            </div>
            <div v-else>
                <div>
                    <span><a href="../user/login.html">登录</a></span>
                </div>
                <div>
                    <span style="margin-left: 12px">  <a href="../user/user_log_on.html">注册</a></span>
                </div>
            </div>
            <div>
                <span style="font-size: 12px">|</span>
            </div>
           <a href="../personal/my_order.html" v-if="id">
                <span>我的订单</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的订单</span>
            </a>
            <a href="../personal/my_ecai.html" v-if="id">
                <span>我的e采</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的e采</span>
            </a>
            <a href="../zaixian_kefu.html" v-if="id">
                <span>客户服务</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>客户服务</span>
            </a>
            <a href="#">
                <span>手机e采</span>
            </a>
        </div>
    </div>
        </div>
        <div class="yd-site">
            <a href="../index.html">E采商城</a>
            <span> <img src="../../assets/ShapeCopy.png" alt=""> </span>
            <a href="my_ecai.html">我的E采</a>
        </div>
        <div class="yd-help-content">
            <div class="yd-help-l">
                <div class="user-info"  id="user_muen">
                    <div><img :src="avatar| formatImg140x140" alt=""></div>
                    <div>
                        <div class="vip-lv"><a href="my_ecai.html"><img src="../../assets/tongpai.png" alt="">铜牌会员</a></div>
                        <div class="nickname"> {{user}}</div>
                    </div>
                </div>
                <div class="serve-con">
                    <div class="serve-group">
                        <div class="serve-title">交易管理</div>
                        <a href="my_order.html" class="ser-act">我的订单</a>
                        <a href="my_fight_alone.html">我的拼单</a>
                        <a href="my_coupon.html">我的优惠券</a>
                        <a href="my_shopping_cart.html">我的购物车</a>
                        <a href="my_concern.html">我的关注</a>
                    </div>
                    <div class="serve-group">
                        <div class="serve-title">服务中心</div>
                        <a href="my_fan.html">我的返修单/换货</a>
                        <a href="my_news.html">我的消息 <span>（2）</span></a>
                    </div>
                    <div class="serve-group">
                        <div class="serve-title">个人信息管理</div>
                        <a href="edit_profile.html">编辑个人资料</a>
                        <a href="add.html">地址管理</a>
                        <a href="shen_qiye.html">升级为企业用户</a>
                        <a href="../Apply_shop/Apply_shop.html">申请开通店铺</a>
                    </div>
                </div>
            </div>
            <div class="yd-help-r">
                <div class="r-top">我的订单</div>
                <div class="r-nav">
                    <div>
                        <a href="javascript:;" @click="order_staus=1" :class="order_staus==1 ? 'r-nav-item ser-act':''">全部订单</a>
                        <a href="javascript:;" @click="order_staus=0" :class="order_staus==0 ? 'r-nav-item ser-act':''">待支付(<span style="color: #FF2961">1</span>)</a>
                        <a href="javascript:;" @click="order_staus=200" :class="order_staus==200 ? 'r-nav-item ser-act':''">待发货</a>
                        <a href="javascript:;" @click="order_staus=300" :class="order_staus==300 ? 'r-nav-item ser-act':''">待收货</a>
                        <a href="javascript:;" @click="order_staus=400" :class="order_staus==400 ? 'r-nav-item ser-act':''">待评价</a>
                    </div>
                    <div style="display:none">
                        <input type="text">
                        <img src="../../assets/搜索%20灰色.png" alt="">
                    </div>
                </div>
                <div class="select-lan">
                    <div>
                        <span>近三个月订单</span><i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="sel-list">
                        <div class="checked">近三个月订单</div>
                        <div>一年内订单</div>
                    </div>
                    <div><span>全部状态</span><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                </div>

                <div class="r-con" v-show="order_staus==0" v-for="order in order_list" v-if="order.status==0">
                    <div class="r-con-item">
                        <div class="wait">
                            <div class="order-state">等待付款</div>
                            <a href="拼团详情页.html" style="color: #333">订单详情 <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="wait" style="display:none">
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i>剩余4天23时59分{{order.closeTime | formatDateTime}}</div>
                        </div>
                    </div>
                    <div>
                        <div class="r-con-item">
                            <div>
                                <div class="order-time">
                                    <span>下单时间：{{order.createTime | formatDateTime}}</span>
                                    <span></span>
                                    <span>订单号：{{order.id}}</span>
                                </div>
                                <div>
                                    <span v-if="order.shopType==0">{{order.shopName}} <span class="store-type">普通商店</span></span>
                                    <span v-else>{{order.shopName}} <span class="store-type">e采自营</span></span>
                                    <span><img src="../../assets/contactb.png" alt="">联系商家</span>
                                </div>
                            </div>
                        </div>
                        <div class="r-con-item">
                            <div class="order-info" v-for="pro_list in order.lineItems">
                                <div class="order-det">
                                    <div class="order-img"><img :src="pro_list.mainImg | formatImg170x160" alt=""></div>
                                    <div style="padding-left: 10px">
                                        <div>{{pro_list.name}}</div>
                                        <div class="order-data"><span>{{pro_list.skuName}}</span></div>
                                    </div>
                                </div>
                                <div class="order-mon">
                                    <span>{{pro_list.quantity}}</span><span>{{pro_list.price | formatFee}}</span>
                                </div>
                            </div>
                            <!-- <div class="order-info">
                                <div class="order-det">
                                    <div class="order-img"><img src="../../assets/imagec.png" alt=""></div>
                                    <div>
                                        <div>联想E570c15.6英寸笔记本</div>
                                        <div class="order-data"><span>黑色</span></div>
                                    </div>
                                </div>
                                <div class="order-mon">
                                    <span>1</span><span>2999.00</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="r-con-item">
                            <div>
                                 <div><span class="yd-price">总额{{order.fee | formatFee}}</span> <span>（含快递：{{order.postage | formatFee}}）</span> <a href="立即支付.html" class="offer-btn">立即付款</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                      
                    <div v-show="order_staus==200" v-for="order in order_list" v-if="order.status==200">
                    <div class="r-con-item">
                        <div>
                            <div class="order-state">待发货</div>
                            <a href="">订单详情 <i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="sur-time">
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i>剩余4天23时59分</div>
                        </div>
                    </div>
                    <div>
                        <div class="r-con-item">
                            <div>
                                <div class="order-time">
                                    <span>下单时间：{{order.createTime | formatDateTime}}</span>
                                    <span></span>
                                    <span>订单号：{{order.id}}</span>
                                </div>
                                <div>
                                     <span v-if="order.shopType==0">{{order.shopName}} <span class="store-type">普通商店</span></span>
                                    <span v-else>{{order.shopName}} <span class="store-type">e采自营</span></span>
                                    <span><img src="../../assets/contactb.png" alt="">联系商家</span>
                                </div>
                            </div>
                        </div>
                        <div class="r-con-item">
                             <div class="order-info" v-for="pro_list in order.lineItems">
                                <div class="order-det">
                                    <div class="order-img"><img :src="pro_list.mainImg | formatImg170x160" alt=""></div>
                                    <div style="padding-left: 10px">
                                        <div>{{pro_list.name}}</div>
                                        <div class="order-data"><span>{{pro_list.skuName}}</span></div>
                                    </div>
                                </div>
                                <div class="order-mon">
                                    <span>{{pro_list.quantity}}</span><span>{{pro_list.price | formatFee}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="r-con-item">
                            <div>
                                <div><span class="yd-price">总额{{order.fee | formatFee}}</span> <span>（含快递：{{order.postage | formatFee}}）</span> <a href="立即支付.html" class="offer-btn">提醒发货</a></div>
                            </div>
                            <div class="foot-op"><a href="">返修退换货</a></div>
                        </div>
                    </div>
                    </div>


                    <div v-show="order_staus==300" v-for="order in order_list" v-if="order.status==300">
                    <div class="r-con-item">
                        <div>
                            <div class="order-state">已付款</div>
                            <a href="">订单详情 <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="r-con-item">
                            <div>
                                <div class="order-time">
                                    <span>2017年5月15日</span>
                                    <span>12:00:00</span>
                                    <span>订单号：201436541722738</span>
                                </div>
                                <div>
                                    <span>e采商城 <span class="store-type">自营</span></span>
                                    <span><img src="../../assets/contactb.png" alt="">联系商家</span>
                                </div>
                            </div>
                        </div>
                        <div class="r-con-item">
                            <div class="order-info">
                                <div class="order-det">
                                    <div class="order-img"><img src="../../assets/imagec.png" alt=""></div>
                                    <div>
                                        <div>联想E570c15.6英寸笔记本</div>
                                        <div class="order-data"><span>黑色</span></div>
                                    </div>
                                </div>
                                <div class="order-mon">
                                    <span>1</span><span>2999.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="r-con-item">
                            <div>
                                <div><span class="yd-price">总额￥2499</span> <span>（含快递：0.00元）</span> <span class="offer-btn">立即付款</span></div>
                            </div>
                            <div class="foot-op"><a href="">退款</a></div>
                        </div>
                    </div>
                    </div>



                    <div v-show="order_staus==400">
                    <div class="r-con-item">
                        <div>
                            <div class="order-state">交易完成</div>
                            <a href="">订单详情 <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="r-con-item">
                            <div>
                                <div class="order-time">
                                    <span>2017年5月15日</span>
                                    <span>12:00:00</span>
                                    <span>订单号：201436541722738</span>
                                </div>
                                <div>
                                    <span>e采商城 <span class="store-type">自营</span></span>
                                    <span><img src="../../assets/contactb.png" alt="">联系商家</span>
                                </div>
                            </div>
                        </div>
                        <div class="r-con-item">
                            <div class="order-info">
                                <div class="order-det">
                                    <div class="order-img"><img src="../../assets/imagec.png" alt=""></div>
                                    <div>
                                        <div>联想E570c15.6英寸笔记本</div>
                                        <div class="order-data"><span>黑色</span></div>
                                    </div>
                                </div>
                                <div class="order-mon">
                                    <span>1</span><span>2999.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="r-con-item">
                            <div>
                                <div><span class="yd-price">总额￥2499</span> <span>（含快递：0.00元）</span> <span class="offer-btn">立即付款</span></div>
                            </div>
                            <div class="foot-op"><a href="">评论</a></div>
                        </div>
                    </div>
                    </div>
                </div>

               <!--  <div class="a-goods-page" style="display:none">
                    <div class="prev page">
                        <img src="../assets/Shape%20页码左.png" alt="">
                    </div>
                    <div class="page">1</div>
                    <div class="page current">2</div>
                    <div class="page">3</div>
                    <div class="next page">
                        <img src="../assets/Shape%20页码右.png" alt="">
                    </div>

                </div>
 -->


            </div>
        </div>
        <div id="yd-footer">
            Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
        </div>
        <div class="mask"></div>
    </div>    
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="../../js/swiper/Swiper-3.4.2/dist/js/swiper.jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
    <script src="../../js/utils.js"></script>
    <script src="../../js/config.js"></script>
    <script src="../../js/top.js"></script>
    <script src="../../js/personal/my_order.js"></script>

</body>
</html>