<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/serve.css">
    <link rel="stylesheet" href="../../css/cancel.css">
    <link rel="stylesheet" href="../../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../../js/jquery-1.11.3.min.js"></script>
    <title></title>
</head>
<style>
    .r-con{
        padding-bottom: 0;
    }
    .re-goods{
        width: 70px;
        margin-right: 10px;
    }
    .re-goods img{
        width: 100%;
    }
    .re-info-store >div>div{
        margin-bottom: 2px;
    }
</style>
<body>
<div id="my_shopping_balance">
    <div class="yd-main">
        <div id="yd-head">
             <div class="yd-head" id="top">
        <div class="yd-head-l">
            <div>
                <img src="../../assets/index.png" alt="">
                <a href="../index.html">首页</a>
            </div>
            <div>
                <a href="../choose_add.html"><span>切换城市</span></a>
            </div>
            <div class="yd-head-l-add">
                <img src="../../assets/coordinate.png" alt="">
                <a href="../choose_add.html">{{cityname}}</a>
            </div>
        </div>
        <div class="yd-head-r">
            <div v-if="id">
                <div>
                    <span> <a href="../personal/edit_profile.html">欢迎 {{user}}</a></span>
                    <span style="margin-left: 12px"> <a href="../user/login.html" id="out_user">退出</a></span>
                </div>
            </div>
            <div v-else>
                <div>
                    <span><a href="../user/login.html">登录</a></span>
                </div>
                <div>
                    <span style="margin-left: 12px">  <a href="../user/user_log_on.html">注册</a></span>
                </div>
            </div>
            <div>
                <span style="font-size: 12px">|</span>
            </div>
           <a href="../personal/my_order.html" v-if="id">
                <span>我的订单</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的订单</span>
            </a>
            <a href="../personal/my_ecai.html" v-if="id">
                <span>我的e采</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的e采</span>
            </a>
            <a href="../zaixian_kefu.html" v-if="id">
                <span>客户服务</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>客户服务</span>
            </a>
                    <a href="##">
                        <span>手机e采</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="yd-site">
            <a href="../index.html">E采商城</a>
            <span> <img src="../../assets/ShapeCopy.png" alt=""> </span>
            <a href="my_ecai.html">我的E采</a>
        </div>
        <div class="yd-help-content">
            <div class="yd-help-l">
                <div class="user-info"  id="user_muen">
                    <div><img :src="avatar| formatImg140x140" alt=""></div>
                    <div>
                        <div class="vip-lv"><a href="my_ecai.html"><img src="../../assets/tongpai.png" alt="">铜牌会员</a></div>
                        <div class="nickname"> {{user}}</div>
                    </div>
                </div>
                <div class="serve-con">
                    <div class="serve-group">
                        <div class="serve-title">交易管理</div>
                        <a href="my_order.html">我的订单</a>
                        <a href="my_fight_alone.html">我的拼单</a>
                        <a href="my_coupon.html">我的优惠券</a>
                        <a href="my_shopping_cart.html" class="ser-act">我的购物车</a>
                        <a href="my_concern.html">我的关注</a>
                    </div>
                    <div class="serve-group">
                        <div class="serve-title">服务中心</div>
                        <a href="my_fan.html">我的返修单/换货</a>
                        <a href="my_news.html">我的消息 <span>（2）</span></a>
                    </div>
                    <div class="serve-group">
                        <div class="serve-title">个人信息管理</div>
                        <a href="edit_profile.html">编辑个人资料</a>
                        <a href="add.html">地址管理</a>
                        <a href="shen_qiye.html">升级为企业用户</a>
                        <a href="../Apply_shop/Apply_shop.html">申请开通店铺</a>
                    </div>
                </div>
            </div>
            <div class="yd-help-r">
                <div class="r-top">结算 <span>填写并核对订单信息</span></div>
                <div class="r-con">

                    <div class="order-data">
                        <div class="data-title">
                            <span>收货人信息</span>
                            <a href="">新增收货地址</a>
                        </div>
                        <div class="re-order-info">
                            <span>Lemon</span>
                            <span>上海 <i class="fa fa-check-square"  aria-hidden="true"></i> </span>
                            <span>上海 黄浦区 大沽路288弄5号3楼B座</span>
                            <span>188****3232</span>
                            <span class="re-order-edit"></span>
                            <div class="re-more-add">更多地址 <i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>
                    </div>

                    <div class="order-data">
                        <div class="data-title">
                            <span>支付方式</span>
                        </div>
                        <div class="re-order-info">
                            <span class="re-payment pay-act">在线支付</span>
                            <span class="re-payment">货到付款</span>
                        </div>
                    </div>
                    <div class="order-data">
                        <div class="data-title">
                            <span>商品详情</span>
                        </div>
                        <div class="re-order-info">
                            <div class="re-info-top">
                                <div class="re-info-store">
                                    <span>e采商城 <span class="store-type">自营</span></span>
                                </div>
                                <div class="re-info-dispatch">
                                    配送方式
                                </div>
                                <div class="re-info-price">
                                    单价
                                </div>
                                <div class="re-info-count">数量</div>
                                <div class="re-info-all">小计</div>
                            </div>
                            <div class="re-info-data">
                                <div class="re-info-store">
                                   <div class="re-goods"><img src="../../assets/imagec.png" alt=""></div>
                                    <div>
                                        <div>联想E570c15.6英寸笔记本</div>
                                        <div>黑色</div>
                                        <div class="store-serve"><span>售后无忧</span>  <span>厂家直销</span> </div>
                                    </div>
                                </div>
                                <div class="re-info-dispatch">
                                    e采配送
                                </div>
                                <div class="re-info-price">
                                    2999.00
                                </div>
                                <div class="re-info-count">1</div>
                                <div class="re-info-all"></div>
                            </div>
                            <div class="re-info-footer">
                                <div>合计</div>
                                <div>
                                    <div>免运费</div>
                                    <div class="re-all-price">￥2999</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-data">
                        <div class="data-title">
                            <span>发票信息</span>
                            <span class="re-order-edit"></span>
                        </div>
                        <div class="re-order-info">
                            <div class="data-con">
                                 <div class="data-label">发件类型：</div>
                                 <div>变通发票</div>
                            </div>
                            <div class="data-con">
                                <div class="data-label">发票抬头：</div>
                                <div>Lemon</div>
                            </div>
                            <div class="data-con">
                                <div class="data-label">发票内容：</div>
                                <div>明细</div>
                            </div>
                        </div>
                    </div>
                    <div class="order-data">
                        <div class="data-title">
                            <span>订单备注</span>
                        </div>
                        <div class="re-order-info">
                            <div class="re-can-edit"></div>
                        </div>
                    </div>

                    <div class="order-data">
                        <div class="data-title">
                            <span>结算信息</span>
                        </div>
                        <div class="re-order-info">
                            <div class="re-edit-coupon">
                                <span class="del-coupon">-</span><span>使用优惠券</span>
                            </div>
                            <div class="u-item">
                                <div>
                                    <img src="../../assets/删除.png" class="delete" alt="">
                                    <div class="count">￥ <span class="super">5</span> </div>
                                    <div class="call">满2188元可用</div>
                                    <div class="date">2017.04.16 - 2017.05.20</div>
                                </div>
                                <div>
                                    <div> 仅可购买e采自营部份家电商品</div>
                                    <div>券编号：1234567862</div>
                                </div>
                            </div>

                            <div class="re-balance-price">
                                <div class="balance-item">
                                    <div>1件商品 总计金额：</div>
                                    <div class="ba-price">￥3299</div>
                                </div>
                                <div class="balance-item">
                                    <div>运费：</div>
                                    <div class="ba-price">￥0.00</div>
                                </div>
                                <div class="balance-item">
                                    <div>优惠：</div>
                                    <div class="ba-price">-￥0.00</div>
                                </div>
                                <div class="balance-item">
                                    <div>优惠券：</div>
                                    <div class="ba-price">-￥50.00</div>
                                </div>
                            </div>

                            <div class="re-foot-info">
                                <div class="balance-item">
                                    <div>应付金额：</div>
                                    <div class="ba-price ba-result">￥2999</div>
                                </div>
                                <div>收货地址：Lemon 188****3232 上海市 黄浦区 大沽路288弄5号3楼B座</div>
                                <div>支付方式：微信支付</div>
                                <div>
                                    <a href="my_order.html" class="ba-sub">
                                        提交订单
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="mask">

        </div>
        <div class="alert">
            <div class="alert-top">
                <div>新增收货地址</div>
                <div><img src="../../assets/关闭.png" alt=""></div>
            </div>
            <div class="alert-con">
                <div class="alert-item">
                    <div class="label must">收货人:</div>
                    <div><input type="text"></div>
                </div>
                <div class="alert-item">
                    <div class="label must">手机号:</div>
                    <div><input type="text"></div>
                </div>
                <div class="alert-item">
                    <div class="label">电话号:</div>
                    <div class="phone"><input type="text" placeholder="区号"><span>·</span><input type="text" placeholder="电话号码"><span>·</span><input
                            type="text" placeholder="分机号"></div>
                </div>
                <div class="alert-item">
                    <div class="label must">选择区域:</div>
                    <div class="address">
                        <div >
                            <input type="text" placeholder="请选择">
                            <div>
                                <i class=" add" aria-hidden="true"></i>
                                <i class=" reduce"></i>
                            </div>
                        </div>
                        <div>
                            <input type="text" placeholder="请选择">
                            <div>
                                <i class="add"></i>
                                <i class="reduce"></i>
                            </div>
                        </div>
                        <div>
                            <input type="text" placeholder="请选择">
                            <div>
                                <i class="add" aria-hidden="true"></i>
                                <i class=" reduce"></i>
                            </div>
                        </div>
                        <div>
                            <input type="text" placeholder="请选择">
                            <div>
                                <i class="add" aria-hidden="true"></i>
                                <i class=" reduce"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert-item">
                    <div class="label must">详细地址:</div>
                    <div class="alert-textarea" contenteditable="true"></div>
                </div>
                <div class="alert-item">
                    <div class="label">邮编:</div>
                    <div><input type="text" placeholder="如果您不清楚邮政编号，请填写000000"></div>
                </div>
                <div class="alert-item">
                    <div class="label"></div>
                    <div><span class="alert-check check-it"></span><span>设为默认地址</span></div>
                </div>
                <div class="alert-item">
                    <div class="label"></div>
                    <div>
                        <span class="alert-sub">确认提交</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="yd-footer">
            Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
        </div>
        <div class="mask"></div>
        <div class="yd-alert">
            <div>
                <img src="../../assets/恭喜您.png" alt="">
            </div>
            <div>提交申请成功，请耐心等待商家处理哦~</div>
        </div>
    </div>
</div>
</body>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="../../js/swiper/Swiper-3.4.2/dist/js/swiper.jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="../../js/utils.js"></script>
    <script src="../../js/config.js"></script>
    <script src="../../js/top.js"></script>
    <script src="../../js/personal/my_shopping_balance.js"></script>
</html>