<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/serve.css">
    <link rel="stylesheet" href="../../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <title></title>
</head>
<style>
    .cho-address{
        position: relative;
    }
    .la-address{
        position: absolute;
        width: 100%;
        background: #FFFFFF;
        z-index: 1000;
        text-align: center;
        top: 37px;
        display: none;
    }
    .la-address>div:hover{
        background: #1C76F7;
        color: #FFFFFF;
    }
</style>
<body>
<div id="cart_list" v-cloak>
    <div class="yd-main">
        <div id="yd-head">
         <div class="yd-head" id="top">
        <div class="yd-head-l">
            <div>
                <img src="../../assets/index.png" alt="">
                <a href="../index.html">首页</a>
            </div>
            <div>
                <a href="../choose_add.html"><span>切换城市</span></a>
            </div>
            <div class="yd-head-l-add">
                <img src="../../assets/coordinate.png" alt="">
                <a href="../choose_add.html">{{cityname}}</a>
            </div>
        </div>
        <div class="yd-head-r">
            <div v-if="id">
                <div>
                    <span> <a href="../personal/edit_profile.html">欢迎 {{user}}</a></span>
                    <span style="margin-left: 12px"> <a href="../user/login.html" id="out_user">退出</a></span>
                </div>
            </div>
            <div v-else>
                <div>
                    <span><a href="../user/login.html">登录</a></span>
                </div>
                <div>
                    <span style="margin-left: 12px">  <a href="../user/user_log_on.html">注册</a></span>
                </div>
            </div>
            <div>
                <span style="font-size: 12px">|</span>
            </div>
           <a href="../personal/my_order.html" v-if="id">
                <span>我的订单</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的订单</span>
            </a>
            <a href="../personal/my_ecai.html" v-if="id">
                <span>我的e采</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>我的e采</span>
            </a>
            <a href="../zaixian_kefu.html" v-if="id">
                <span>客户服务</span>
            </a>
            <a href="../user/login.html" v-else>
                <span>客户服务</span>
            </a>
            <a href="#">
                <span>手机e采</span>
            </a>
        </div>
    </div>
        </div>
        <div class="yd-site">
            <a href="../index.html">E采商城</a>
            <span> <img src="../../assets/ShapeCopy.png" alt=""> </span>
            <a href="my_ecai.html">我的E采</a>
        </div>
        <div class="yd-help-content">
            <div class="yd-help-l">
                <div class="user-info"  id="user_muen">
                    <div><img :src="avatar| formatImg140x140" alt=""></div>
                    <div>
                        <div class="vip-lv"><a href="my_ecai.html"><img src="../../assets/tongpai.png" alt="">铜牌会员</a></div>
                        <div class="nickname"> {{user}}</div>
                    </div>
                </div>
                <div class="serve-con">
                    <div class="serve-group">
                        <div class="serve-title">交易管理</div>
                        <a href="my_order.html">我的订单</a>
                        <a href="my_fight_alone.html">我的拼单</a>
                        <a href="my_coupon.html">我的优惠券</a>
                        <a href="my_shopping_cart.html" class="ser-act">我的购物车</a>
                        <a href="my_concern.html">我的关注</a>
                    </div>
                    <div class="serve-group">
                        <div class="serve-title">服务中心</div>
                        <a href="my_fan.html">我的返修单/换货</a>
                        <a href="my_news.html">我的消息 <span>（2）</span></a>
                    </div>
                    <div class="serve-group">
                        <div class="serve-title">个人信息管理</div>
                        <a href="edit_profile.html">编辑个人资料</a>
                        <a href="add.html">地址管理</a>
                        <a href="shen_qiye.html">升级为企业用户</a>
                        <a href="../Apply_shop/Apply_shop.html">申请开通店铺</a>
                    </div>
                </div>
            </div>
            <div class="yd-help-r">
                <div class="r-top">
                    <span>我的购物车</span>
                    <div class="dis-add"> 
                        <div>配送至:    
                            <select name="上海黄浦区" v-on:change="changeAddress"> 
                                <option :value="addresslist.id" v-for="addresslist in address">{{addresslist.provinceName}}-{{addresslist.cityName}}-{{addresslist.areaName}}-{{addresslist.street}}</option> 
                            </select>  
                        </div>
                    </div>
                </div>
                <div class="shop-car-lan">
                    <div class="sho-check">
                        <span style=""> <input type="checkbox" style="width:20px;height:20px;" @click="ckeck_all_pro" class="check_all"> </span>
                        <span>全选</span>
                    </div>
                    <div class="shop-goods">商品</div>
                    <div class="shop-data">规格</div>
                    <div class="shop-price">单价</div>
                    <div class="shop-count">数量</div>
                    <div class="shop-balance">小计</div>
                    <div class="shop-operation">操作</div>
                </div>
                <div class="shop-car-det">
                   
                      
                       
                    <div class="shop-car-shops check_shop_dom" v-for="(cartShop,index) in cart_info.lineItems">
                        <div class="shops-name">
                            <div class="sho-check">
                                <span style=""> <input type="checkbox" style="width:20px;height:20px;" @click="check_shop" class="check_shop"> </span>
                                <span>{{cartShop.key.title}}</span>
                            </div>
                        </div>
                        <div class="shops-good" v-for="(p,i) in cartShop.value">
                            <div class="sho-check">
                                <span style=""> <input type="checkbox" style="width:20px;height:20px;" @click="check_pro_in" class="check_pro" :value="p.id" :cash="p.price*p.quantity" :index="index" :i="i"> </span>
                                <span><img :src="config.ALI_OSS_GATEWAY+'/'+p.mainImg+'?x-oss-process=image/resize,w_76,h_76'" alt=""></span>
                            </div>
                            <div class="shop-goods">
                                <div>{{p.catalogName}}</div>
                                <div></div>
                                <div class="store-serve"><span>售后无忧</span>  <span>厂家直销</span> </div>
                            </div>
                            <div class="shop-data">
                                <div>{{p.name}}</div>
                                <div></div>
                            </div>
                            <div class="shop-price">￥{{p.price}}</div>
                            <div class="shop-count">{{p.quantity}}</div>
                            <div class="shop-balance">￥{{p.price*p.quantity}}</div>
                            <div class="shop-operation">
                                <div style="cursor:pointer" @click="pay_shop" :shangpingid="p.id">移入我的关注</div>
                                <div class="good-del" style="cursor:pointer" @click="shan" :cash="p.price*p.quantity" :shangpingid="p.id">删除</div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-make-out">
                        <div class="sho-check">
                            <span style=""> <input type="checkbox" style="width:20px;height:20px;"  @click="ckeck_all_pro" class="check_all"> </span>
                            <span>全选</span>
                        </div>
                        <!--div class="del-all">删除选中商品</div-->
                        <!--div class="remove-all">移到我的关注</div-->
                        <div> 已选择 <span class="all-choose"> {{checked_pro_arr.len}} </span>件商品 </div>
                        <!--div>共为您节省：￥ <span class="all-cut">0.00</span></div-->
                        <div>总价（含运费）： <span class="total">￥{{checked_pro_arr.cash}}</span></div>
                        <a href="javascript:void(0)" class="payment" @click="orderIn">去结算</a>
                    </div>
                </div>




                <!--<div class="r-con">-->
                    <!--<div class="r-con-none">-->
                        <!--<div>当前没有交易优惠券。</div>-->
                        <!--<div><a href="">去首页逛逛</a></div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div id="yd-footer">
            Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
        </div>
        <div class="mask"></div>
        <div class="yd-alert" style="display:none">
            
            <div>提交申请成功，请耐心等待商家处理哦~</div>
        </div>
    </div>
</div>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="../../js/swiper/Swiper-3.4.2/dist/js/swiper.jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="../../js/utils.js"></script>
    <script src="../../js/config.js"></script>
    <script src="../../js/top.js"></script>
    <script src="../../js/personal/my_shopping_cart.js"></script>
</body>

</html>