<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/choose-add.css">    
    <title>选择地址</title>
</head>
<style>
    .pro-list span{
        cursor: pointer;
    }
</style>
<body>
    <div id="choose_add">
    <div class="yd-main">
        <div id="yd-head">
            <div class="yd-head">
                <div class="yd-head-l">
                    <div>
                        <img src="../assets/首页.png" alt="">
                        <a href="##">首页</a>
                    </div>
                    <div>
                        <span>切换城市</span>
                    </div>
                    <div class="yd-head-l-add">
                        <img src="../assets/坐标.png" alt="">
                        <span>上海</span>
                    </div>
                </div>
                <div class="yd-head-r">
                    <div>
                        <span>欢迎您lemon</span>
                    </div>
                    <div>
                        <span>退出</span>
                    </div>
                    <div>
                        <span style="font-size: 12px">|</span>
                    </div>
                    <a href="##">
                        <span>我的订单</span>
                    </a>
                    <a href="##">
                        <span>我的e采</span>
                    </a>
                    <a href="##">
                        <span>客户服务</span>
                    </a>
                    <a href="##">
                        <span>手机e采</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="yd-container">
            <!-- <div class="yd-con-title">我已收到货，确认向商家付款</div> -->
            <div class="add-list">
                <div class="add-title">省/直辖区</div>
                <div class="add-pro">
                    <div class="pro">省/直辖区</div>
                    <div class="pro-list">
                        <span v-for="list in country" id="countryid" v-bind:countryid="list.id">{{list.name}}</span>
                    </div>
                </div>
                <div class="add-pro">
                    <div class="pro">分站</div>
                    <div class="pro-list">
                        <span v-for="list1 in description" class="provinceid"  v-bind:provinceId="list1.id">{{list1.name}}</span>
                        
                    </div>
                </div>
            </div>


        </div>
        <div id="yd-footer">
            Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
        </div>

    </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script>
    // $('span').click(function () {
    //     location.href = '首页.html'
    // })
</script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
<script src="../js/config.js"></script>
<script src="../js/choose_add.js"></script>
</html>