<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="baidu-site-verification" content="ifAuPXWNFY" />
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/store.css">
    <link rel="stylesheet" href="../css/store-home.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../js/swiper/Swiper-3.4.2/dist/css/swiper.min.css">
    <title></title>
</head>
<style>
    .yd-store-nav{
        justify-content: flex-start;
        border-bottom: 1px solid #3789EC;
        padding: 0;
        min-width: 1200px;
    }

    .shop-car{
        margin-top: -5px;
        position: absolute !important;
        right: 0 !important;
    }
    .yd-ad{
        width: 100%;
        height: 120px;
    }
    .yd-ad img{
        width: 100%;
        height: 100%;
    }
    .common-item{
        width: 240px;
    }
    .common-group{
        padding: 0;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:   #E0E6ED ;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #E0E6ED ;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #E0E6ED ;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #E0E6ED ;
    }
    .yd-search-input{
        position: absolute;
        left: 300px !important;
        margin-right: 0;
        margin-left:0;
    }
</style>
<body>
<div id="index" v-cloak>  
<div class="yd-main">
    <div class="yd-ad" v-for="list_adverts in adverts">
        <a v-bind:href="'https://'+list_adverts.link"  target="_blank"><img v-bind:src="list_adverts.pcImg | formatImg96x30"></a>   
    </div>
    <div id="yd-head">
    <div class="yd-head" id="top">
        <div class="yd-head-l">
            <div>
                <img src="../assets/index.png" alt="">
                <a href="##">首页</a>
            </div>
            <div>
                <a href="choose_add.html"><span>切换城市</span></a>
            </div>
            <div class="yd-head-l-add">
                <img src="../assets/coordinate.png" alt="">
                <a href="choose_add.html">{{cityname}} </a>
            </div>
        </div>
        <div class="yd-head-r">
            <div v-if="id">
                <div>
                    <span> <a href="personal/edit_profile.html">欢迎 {{user}}</a></span>
                    <span style="margin-left: 12px"> <a href="user/login.html" id="out_user">退出</a></span>
                </div>
            </div>
            <div v-else>
                <div>
                    <span><a href="user/login.html">登录</a></span>
                </div>
                <div>
                    <span style="margin-left: 12px">  <a href="user/user_log_on.html">注册</a></span>
                </div>
            </div>
            <div>
                <span style="font-size: 12px">|</span>
            </div>
            <a href="personal/my_order.html" v-if="id">
                <span>我的订单</span>
            </a>
            <a href="user/login.html" v-else>
                <span>我的订单</span>
            </a>
            <a href="personal/my_ecai.html" v-if="id">
                <span>我的e采</span>
            </a>
            <a href="user/login.html" v-else>
                <span>我的e采</span>
            </a>
            <a href="zaixian_kefu.html" v-if="id">
                <span>客户服务</span>
            </a>
            <a href="user/login.html" v-else>
                <span>客户服务</span>
            </a>
            <a href="#">
                <span>手机e采</span>
            </a>
        </div>
    </div>
    </div>
    <div class="yd-search" style="position: relative">
        <img src="../assets/logo.png" alt="">
        <div class="yd-search-input">
            <input type="text" placeholder="电视&nbsp;手机" style="padding-left: 20px;">
            <a href="搜索-分类.html"><img src="../assets/搜索.png" alt="" style="margin-top: 8px;"></a>
        </div>
    </div>


    <div id="store-home">

        <div class="yd-store-nav">
            <a href="" class="ty-act">
                e采商城
                <div class="sel-nav">
                    <div class="sel-nav-item" v-bind:id="list_categories.id" v-for="list_categories in categories">
                        <span class="sel-list">{{list_categories.name}}</span>
                        <i class="fa fa-angle-right"></i>
                        <div class="second-nav">
                            <div class="sel-nav-item1" v-bind:id="level2_list.id"  v-for="level2_list in level2">
                                <span>{{level2_list.name}}</span>
                                <i class="fa fa-angle-right"></i>
                                <div class="th-nav">
                                    <span v-for="level3_list in level3" v-bind:id="level3_list.id" class="level3meun">  | {{level3_list.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </a>
            <a :href="'pro_jingxuan.html?aid='+blocks_list.id" v-for="blocks_list in blocks">{{blocks_list.title}}</a>
            <a href="index_fight.html">拼单</a>
            <a href="personal/my_shopping_cart.html"  class="shop-car" style="z-index: 1000;width: 180px;flex-shrink: 0; height: 46px;border: 1px solid #E0E6ED;border-radius: 47px;right: 70px;">
                <img src="../assets/shopicon.png" alt="">
                <div>0</div>
                <div style="min-width: 40px;padding-left: 18px">购物车</div>
            </a>
        </div>



        <div class="swiper-container" id="swg_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for='focus_list in focus'>
                    <a href="">
                        <img v-bind:src="focus_list.pcImg" class="swi-img" alt="">
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <!--<div class="swiper-pagination"></div>-->
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>



        <div class="part-title">
            <span>e采拼单</span>
            <a href="首页-拼单.html">更多 <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="common-group">
            <div class="cut"><img src="../assets/cut-l%20圆正常.png" alt=""></div>
            <a :href="'pro_jingxuan_list.html?cid='+g.catalogId+'&shopId='+g.shopId+'&group=on'" class="common-item"  v-for="(g,index) in groupGoods"> 
                <div class="com-top time_unshelfTime" :bd="timeFromat(index,g.unshelfTime)" >
                    
                </div>
                <div class="com-data">
                    <div><img :src="config.ALI_OSS_GATEWAY+'/'+g.mainImg+'?x-oss-process=image/resize,w_165,h_167'" alt=""></div>
                    <div>{{g.name}}</div>
                    <div>拼单价 ￥{{(g.price/100).toFixed(2)}} <del>￥{{(g.marketPrice/100).toFixed(2)}}</del></div>
                    <div class="com-price">订金￥{{(g.deposit/100).toFixed(2)}}</div>
                    <div>  {{g.actualNum}}人已拼</div>
                </div>
            </a>
            
            <div class="cut"><img src="../assets/cut-r%20圆正常.png" alt=""></div>


        </div>


    </div>

    <div style="width: 100%;background: #f3f3f3">
    <div class="other-part">
        <div v-for="(b,index) in blockList">
            <div class="other-item" v-if="index % 3==0">
                <div class="item-title title1"  >
                    <span>{{b.blocksTitle}}</span>
                    <a  :href="'pro_jingxuan.html?aid='+b.blocksId">更多 <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="item-con">
                    <div class="item-item1" v-for="item in b.blocksData">
                        <a :href="'pro_jingxuan_list.html?cid='+item.catalogId+'&shopId='+item.shopId">
                            <div><img  v-bind:src="item.img| formatImg165x167"  alt=""></div>
                            <div>{{item.name}}</div>
                            <div class="goods-price">{{item.price | formatFee}}</div>
                        </a>
                    </div>
                   
                </div>
            </div>

            <!--两个开始-->
            <div class="other-item  double" v-if="index % 3==1" style="float:left;">
                <div class="other-l" >
                    <div class="item-title title2">
                        <span>{{b.blocksTitle}}</span>
                        <a :href="'pro_jingxuan.html?aid='+b.blocksId">更多 <i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="l-con">
                        <div class="l-item width long" v-for="(item,i) in b.blocksData" v-if="i==0">
                            <a :href="'pro_jingxuan_list.html?cid='+item.catalogId+'&shopId='+item.shopId">
                                <div><img v-bind:src="config.ALI_OSS_GATEWAY+'/'+item.img+'?x-oss-process=image/resize,w_200' | formatImg200x265"  alt=""></div>
                                <div>{{item.name}}</div>
                                <div class="goods-price">{{item.price | formatFee}}</div>
                            </a>
                        </div>
                        <div class="l-item width" v-for="(item,i) in b.blocksData" v-if="i==1">
                            <a :href="'pro_jingxuan_list.html?cid='+item.catalogId+'&shopId='+item.shopId">
                                <div><img v-bind:src="config.ALI_OSS_GATEWAY+'/'+item.img+'?x-oss-process=image/resize,w_200' | formatImg200x265" alt=""></div>
                                <div>{{item.name}}</div>
                                <div class="goods-price">{{item.price | formatFee}}</div>
                            </a>
                        </div>
                        <div class="l-item" v-for="(item,i) in b.blocksData" v-if="i>1">
                            <a :href="'pro_jingxuan_list.html?cid='+item.catalogId+'&shopId='+item.shopId">
                                <div><img v-bind:src="config.ALI_OSS_GATEWAY+'/'+item.img+'?x-oss-process=image/resize,w_200' | formatImg200x265" alt=""></div>
                                <div>{{item.name}}</div>
                                <div class="goods-price">{{item.price | formatFee}}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="other-item  double" v-if="index % 3==2" style="float:right;">
                <div class="other-r" >
                    <div class="item-title title3">
                        <span>{{b.blocksTitle}}</span>
                        <a :href="'pro_jingxuan.html?aid='+b.blocksId">更多 <i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="l-con">
                        <div class="l-item width long" v-for="(item,i) in b.blocksData" v-if="i==0">
                            <a :href="'pro_jingxuan_list.html?cid='+item.catalogId+'&shopId='+item.shopId">
                                <div><img v-bind:src="config.ALI_OSS_GATEWAY+'/'+item.img+'?x-oss-process=image/resize,w_200' | formatImg200x265" alt=""></div>
                                <div>{{item.name}}</div>
                                <div class="goods-price">{{item.price | formatFee}}</div>
                            </a>
                        </div>
                        <div class="l-item width" v-for="(item,i) in b.blocksData" v-if="i==1">
                            <a :href="'pro_jingxuan_list.html?cid='+item.catalogId+'&shopId='+item.shopId">
                                <div><img sv-bind:src="config.ALI_OSS_GATEWAY+'/'+item.img+'?x-oss-process=image/resize,w_200' | formatImg200x265" alt=""></div>
                                <div>{{item.name}}</div>
                                <div class="goods-price">{{item.price | formatFee}}</div>
                            </a>
                        </div>
                        <div class="l-item" v-for="(item,i) in b.blocksData" v-if="i>1">
                            <a :href="'pro_jingxuan_list.html?cid='+item.catalogId+'&shopId='+item.shopId">
                                <div><img v-bind:src="config.ALI_OSS_GATEWAY+'/'+item.img+'?x-oss-process=image/resize,w_200' | formatImg200x265" alt=""></div>
                                <div>{{item.name}}</div>
                                <div class="goods-price">{{item.price | formatFee}}</div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <!--两个结束-->
        </div>



        <div class="other-item">
            <div class="item-title title4">
                <span>品牌专区</span>
            </div>
            <div class="item-con">
                <div class="item-item1 only-img" v-for="brands_list in brands">
                    <div><img v-bind:src="brands_list.icon | formatImg170x160" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="">
        <div class="serve">
            <div class="f-serve-item">
                <div><img src="../assets/急速物流.png" alt=""></div>
                <div>正品保证</div>
                <div>正品保障  提供发票</div>
            </div>
            <div class="f-serve-item">
                <div><img src="../assets/急速物流.png" alt=""></div>
                <div>急速物流</div>
                <div>正品保障  提供发票</div>
            </div>
            <div class="f-serve-item">
                <div><img src="../assets/无忧售后.png" alt=""></div>
                <div>无忧售后</div>
                <div>正品保障  提供发票</div>
            </div>
            <div class="f-serve-item">
                <div><img src="../assets/帮助中心.png" alt=""></div>
                <div>帮助中心</div>
                <div>正品保障  提供发票</div>
            </div>
        </div>
        <div class="foot-list">
            <div class="list-group">
                <div class="list-title">购物指南</div>
                <div class="list-bang">|</div>
                <a href="">登录注册</a>
                <a href="">购物流程</a>
                <a href="">常见问题</a>
                <a href="">交易条款</a>
            </div>
            <div class="list-group">
                <div class="list-title">支付方式</div>
                <div class="list-bang">|</div>
                <a href="">网银支付</a>
                <a href="">快捷支付</a>
                <a href="">在线支付</a>
                <a href="">分期付款</a>
            </div>
            <div class="list-group">
                <div class="list-title">配送方式</div>
                <div class="list-bang">|</div>
                <a href="">e采配送</a>
                <a href="">免运费政策</a>
                <a href="">签收验货</a>
                <a href="">物流查询</a>
            </div>
            <div class="list-group">
                <div class="list-title">售后服务</div>
                <div class="list-bang">|</div>
                <a href="">安装/维修</a>
                <a href="">退款说明</a>
                <a href="">退换货说明</a>
                <a href="">咨询投诉</a>
                <a href="">送货入户</a>
            </div>
            <div class="list-group">
                <div class="list-title">商家服务</div>
                <div class="list-bang">|</div>
                <a href="">商家入驻</a>

                <a href="">商家帮助</a>
            </div>
        </div>
    </div>
    <div id="yd-login-footer">
        Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
    </div>

</div>
</div>  
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="../js/swiper/Swiper-3.4.2/dist/js/swiper.jquery.min.js"></script>
<script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="../js/utils.js"></script>
<script src="../js/config.js"></script>
<script src="../js/top.js"></script>
<script src="../js/index.js"></script>
<script>

    $(document).on("mouseout",".sel-nav-item",function(){
        $(this).children().eq(2).removeClass('show-second-nav')
    });
</script> 
</body>
</html>