<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="baidu-site-verification" content="ifAuPXWNFY" />
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/store.css">
    <link rel="stylesheet" href="../css/store-home.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../js/swiper/Swiper-3.4.2/dist/css/swiper.min.css">
    <title></title>
</head>
<style>
    .yd-store-nav{
        justify-content: flex-start;
        border-bottom: 2px solid #3789EC;
        padding: 0;
        min-width: 1200px;
    }
    .shop-car{
        position: relative;
        top: 80px;
        right: 70px;
    }
    .yd-ad{
        width: 100%;
        height: 120px;
    }
    .yd-ad img{
        width: 100%;
        height: 100%;
    }
    .common-item{
        width: 240px;
    }
    .common-group{
        padding: 0;
    }
    .zn{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .zn .item-item1{
        width: 280px;
        height: 360px;
        margin-bottom: 20px;
    }
    .item-item
    {width: 280px;
        height: 360px;
        margin-bottom: 20px;
    }

    .zn .big{
        width: 590px;
        height: 740px;
    }
    .big>div:nth-child(1){
        width: 80%;
        height: 80%;
    }
    .big>div>img{
        width: 100%;
        height: 100%;
    }
    .big>div:nth-child(2){
        width: 60%  ;
    }
    .swiper-button-prev{
        margin-left:10px !important;
    }
</style>
<body>
<div id="pro_block">   
<div class="yd-main">
    <div class="yd-ad" style="display:none">
        <img src="../assets/e采商城图片/首页拼单/广告页.jpg" alt="">
    </div>
    <div id="yd-head">
     <div class="yd-head" id="top">
        <div class="yd-head-l">
            <div>
                <img src="../assets/index.png" alt="">
                <a href="##">首页</a>
            </div>
            <div>
                <a href="choose_add.html"><span>切换城市</span></a>
            </div>
            <div class="yd-head-l-add">
                <img src="../assets/coordinate.png" alt="">
                <a href="choose_add.html">全国 </a>
            </div>
        </div>
        <div class="yd-head-r">
            <div v-if="id">
                <div>
                    <span> <a href="personal/edit_profile.html">欢迎 {{user}}</a></span>
                    <span style="margin-left: 12px"> <a href="user/login.html" id="out_user">退出</a></span>
                </div>
            </div>
            <div v-else>
                <div>
                    <span><a href="user/login.html">登录</a></span>
                </div>
                <div>
                    <span style="margin-left: 12px">  <a href="user/user_log_on.html">注册</a></span>
                </div>
            </div>
            <div>
                <span style="font-size: 12px">|</span>
            </div>
            <a href="personal/my_orders.html">
                <span>我的订单</span>
            </a>
            <a href="personal/my_ecai.html.html">
                <span>我的e采</span>
            </a>
            <a href="" style="display:none">
                <span>客户服务</span>
            </a>
            <a href="#">
                <span>手机e采</span>
            </a>
        </div>
    </div>
    </div>
    <div class="yd-search">
        <img src="../assets/logo.png" alt="">
        <div class="yd-search-input">
            <input type="text">
            <a href="搜索-分类.html"><img src="../assets/搜索.png" alt="" style="margin-top: 8px;"></a>
        </div>
        <a href="personal/my_shopping_cart.html" class="shop-car" style="z-index: 1000;width: 180px;height: 46px;border: 1px solid #E0E6ED;border-radius: 47px;">
            <img src="../assets/shopicon.png" alt="">
            <div>0</div>
            <div style="min-width: 40px">购物车</div>
        </a>
    </div>


    <div id="store-home">

        <div class="yd-store-nav">
            <a href="index.html"> e采商城</a>
            <a :href="'pro_jingxuan.html?aid='+blocks_list.id" v-for="blocks_list in blocks"  :class="blocks_list.id==aid ? 'ty-act':''">{{blocks_list.title}}</a>
            <a href="index_fight.html" >拼单</a>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                 <div class="swiper-slide" v-for='focus_list in focus'>
                    <a href="">
                        <img v-bind:src="focus_list.pcImg" class="swi-img" alt="">
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <!--<div class="swiper-pagination"></div>-->
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>





    </div>

    <div style="width: 100%;background: #f3f3f3;">
    <div class="other-part">
        <div class="other-item">
            <div class="item-title title1">
                <span>精品首发</span>
            </div>
            <div class="item-con zn">
                <div>
                <div class="item-item1" v-for="(block_list,index) in block_pro" v-if='index<2'>
                <a :href="'pro_jingxuan_list.html?cid='+block_list.catalogId+'&shopId='+block_list.shopId">
                    <div><img v-bind:src="block_list.img | formatImg160x200" alt=""></div>
                    <div>{{block_list.name}}</div>
                    <div class="goods-price">{{block_list.price | formatFee}}</div>
                </a>
                </div>
               
                </div>
                <div class="item-item1 big"  v-for="(block_list,index) in block_pro" v-if='index==2'>
                   <a :href="'pro_jingxuan_list.html?cid='+block_list.catalogId+'&shopId='+block_list.shopId">
                    <div><img v-bind:src="block_list.img | formatImg750x655" alt="" style="height:550px;width:100%"></div>
                    <div>{{block_list.name}}</div>
                    <div class="goods-price">{{block_list.price | formatFee}}</div>
                   </a>
                </div>
                <div>
                <div class="item-item1" v-for="(block_list,index) in block_pro" v-if='2<index && index<5'>
                    <a :href="'pro_jingxuan_list.html?cid='+block_list.catalogId+'&shopId='+block_list.shopId">
                    <div><img v-bind:src="block_list.img | formatImg160x200" alt=""></div>
                    <div>{{block_list.name}}</div>
                    <div class="goods-price">{{block_list.price | formatFee}}</div>
                   </a>
                </div>
                </div>

                <div class="item-item" v-for="(block_list,index) in block_pro" v-if='4<index' >
                     <a :href="'pro_jingxuan_list.html?cid='+block_list.catalogId+'&shopId='+block_list.shopId">
                    <div><img v-bind:src="block_list.img | formatImg160x200" alt=""></div>
                    <div>{{block_list.name}}</div>
                    <div class="goods-price">{{block_list.price | formatFee}}</div>
                     </a>
                </div>
               
            </div>
        </div>


        <!-- <div class="other-item" style="height:10px">
 -->
          <!--   <div class="item-con zn">
                    <a href='商品详情页.html' class="item-item1">
                        <div><img src="../assets/e采商城图片/首页/5.jpg" alt=""></div>
                        <div>海尔（Haier）258升除菌风冷无霜三门冰箱</div>
                        <div class="goods-price">￥500.00</div>
                    </a>

                    <div class="item-item1">
                        <div><img src="../assets/e采商城图片/首页/12.jpg" alt=""></div>
                        <div>天际（TONZE）%20隔水炖不锈钢电炖锅电炖盅</div>
                        <div class="goods-price">￥500.00</div>
                    </div>
                <div class="item-item1">
                    <div><img src="../assets/智能新品/智能生活/4.jpg" alt=""></div>
                    <div>意大利德龙(Delonghi)ESAM2200.S全自动咖啡机</div>
                    <div class="goods-price">￥500.00</div>
                </div>
                <div class="item-item1">
                    <div><img src="../assets/智能新品/智能生活/5.jpg" alt=""></div>
                    <div>意大利德龙(Delonghi)ESAM2200.S全自动咖啡机</div>
                    <div class="goods-price">￥500.00</div>
                </div>
                <div class="item-item1">
                    <div><img src="../assets/智能新品/智能生活/6.jpg" alt=""></div>
                    <div>意大利德龙(Delonghi)ESAM2200.S全自动咖啡机</div>
                    <div class="goods-price">￥500.00</div>
                </div>
                <div class="item-item1">
                    <div><img src="../assets/智能新品/智能生活/10.jpg" alt=""></div>
                    <div>意大利德龙(Delonghi)ESAM2200.S全自动咖啡机</div>
                    <div class="goods-price">￥500.00</div>
                </div>
                    <div class="item-item1">
                        <div><img src="../assets/e采商城图片/首页/6.jpg" alt=""></div>
                        <div>飞利浦（PHILIPS）电动剃须刀YQ6188_16刮胡刀</div>
                        <div class="goods-price">￥500.00</div>
                    </div>
                    <div class="item-item1">
                        <div><img src="../assets/e采商城图片/首页/11.jpg" alt=""></div>
                        <div>艾美特(Airmate)FSW52R%20遥控落地扇_电风扇</div>
                        <div class="goods-price">￥500.00</div>
                    </div>

                <div class="item-item1">
                    <div><img src="../assets/e采商城图片/首页/13.jpg" alt=""></div>
                    <div>长虹(CHANGHONG)3匹变频智能语音圆柱式空调</div>
                    <div class="goods-price">￥500.00</div>
                </div>
                <div class="item-item1">
                    <div><img src="../assets/e采商城图片/首页/14.jpg" alt=""></div>
                    <div>科沃斯（Ecovacs）地宝魔镜S扫地机器人家用吸尘器</div>
                    <div class="goods-price">￥500.00</div>
                </div>
                <div class="item-item1">
                    <div><img src="../assets/e采商城图片/首页/15.jpg" alt=""></div>
                    <div>海尔（Haier）1.5匹冷暖变频智能操控自清洁空调挂机</div>
                    <div class="goods-price">￥500.00</div>
                </div>
                <div class="item-item1">
                    <div><img src="../assets/e采商城图片/首页/16.jpg" alt=""></div>
                    <div>美的（Midea）1.5L单杆蒸汽挂烫机家用手持电熨斗</div>
                    <div class="goods-price">￥500.00</div>
                </div>
            </div> -->
      <!--   </div>  -->


        <div class="other-item" style='margin-top:10px'>
            <div class="item-title title4">
                <span>品牌专区</span>
                <a href="">更多 <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="item-con">
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/33.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/34.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/35.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/36.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/37.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/38.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/39.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/40.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/41.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/42.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/43.jpg" alt=""></div>
                </div>
                <div class="item-item1 only-img">
                    <div><img src="../assets/e采商城图片/首页/44.jpg" alt=""></div>
                </div>

            </div>
        </div>
    </div>
    </div>

    <div class="home-foot">
        <div class="serve">
            <div class="f-serve-item">
                <div><img src="../assets/急速物流.png" alt=""></div>
                <div>正品保证</div>
                <div>正品保障  提供发票</div>
            </div>
            <div class="f-serve-item">
                <div><img src="../assets/急速物流.png" alt=""></div>
                <div>急速物流</div>
                <div>正品保障  提供发票</div>
            </div>
            <div class="f-serve-item">
                <div><img src="../assets/无忧售后.png" alt=""></div>
                <div>无忧售后</div>
                <div>正品保障  提供发票</div>
            </div>
            <div class="f-serve-item">
                <div><img src="../assets/帮助中心.png" alt=""></div>
                <div>帮助中心</div>
                <div>正品保障  提供发票</div>
            </div>
        </div>
        <div class="foot-list">
            <div class="list-group">
                <div class="list-title">购物指南</div>
                <div class="list-bang">|</div>
                <a href="">登录注册</a>
                <a href="">购物流程</a>
                <a href="">常见问题</a>
                <a href="">交易条款</a>
            </div>
            <div class="list-group">
                <div class="list-title">支付方式</div>
                <div class="list-bang">|</div>
                <a href="">网银支付</a>
                <a href="">快捷支付</a>
                <a href="">在线支付</a>
                <a href="">分期付款</a>
            </div>
            <div class="list-group">
                <div class="list-title">配送方式</div>
                <div class="list-bang">|</div>
                <a href="">e采配送</a>
                <a href="">免运费政策</a>
                <a href="">签收验货</a>
                <a href="">物流查询</a>
            </div>
            <div class="list-group">
                <div class="list-title">售后服务</div>
                <div class="list-bang">|</div>
                <a href="">安装/维修</a>
                <a href="">退款说明</a>
                <a href="">退换货说明</a>
                <a href="">咨询投诉</a>
                <a href="">送货入户</a>
            </div>
            <div class="list-group">
                <div class="list-title">商家服务</div>
                <div class="list-bang">|</div>
                <a href="">商家入驻</a>

                <a href="">商家帮助</a>
            </div>
        </div>
    </div>
    <div id="yd-login-footer">
        Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
    </div>

</div>
</div> 
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="../js/swiper/Swiper-3.4.2/dist/js/swiper.jquery.min.js"></script>
<script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="../js/utils.js"></script>
<script src="../js/config.js"></script>
<script src="../js/top.js"></script>
<script src="../js/pro_jingxuan.js"></script>
<script>
    //     var swiper = new Swiper('.swiper-container', {
    //     pagination: '.swiper-pagination',
    //     nextButton: '.swiper-button-next',
    //     prevButton: '.swiper-button-prev',
    //     paginationClickable: true,
    //     spaceBetween: 30,
    //     centeredSlides: true,
    //     autoplay: 2500,
    //     autoplayDisableOnInteraction: false
    // });
    // $(document).on("mouseover",".sel-nav-item",function(){
    //     $(this).children().eq(2).addClass('show-second-nav')
    // });
    // $(document).on("mouseout",".sel-nav-item",function(){
    //      $(this).children().eq(2).removeClass('show-second-nav')
    // });
</script> 
</body>
</html>