<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/store.css">
    <link rel="stylesheet" href="../css/dutch.css">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../js/swiper/Swiper-3.4.2/dist/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/lib/jquery.raty.min.js"></script>
    <title></title>
    <script src="../js/common.js" defer></script>
    <link href="../css/common2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
  $(document).ready(function(){
        setTimeout(
            function(){
              var showproduct = {
                  "boxid":"showbox",
                  "sumid":"showsum",
                  "boxw":400,//宽度,该版本中请把宽高填写成一样
                  "boxh":400,//高度,该版本中请把宽高填写成一样
                  "sumw":60,//列表每个宽度,该版本中请把宽高填写成一样
                  "sumh":60,//列表每个高度,该版本中请把宽高填写成一样
                  "sumi":7,//列表间隔
                  "sums":5,//列表显示个数
                  "sumsel":"sel",
                  "sumborder":1,//列表边框，没有边框填写0，边框在css中修改
                  "lastid":"showlast",
                  "nextid":"shownext"
                  };//参数定义    
                $.ljsGlasses.pcGlasses(showproduct);//方法调用，务必在加载完后执行
                $("#showbox img").show();
            },1000
        );
  });
</script>
</head>
<body>
    <div id="pro_jingxuan_list" v-cloak>
    <div class="yd-main">
        <div id="yd-head">
        <div class="yd-head" id="top">
        <div class="yd-head-l">
            <div>
                <img src="../assets/index.png" alt="">
                <a href="index.html">首页</a>
            </div>
            <div>
                <a href="choose_add.html"><span>切换城市</span></a>
            </div>
            <div class="yd-head-l-add">
                <img src="../assets/coordinate.png" alt="">
                <a href="choose_add.html">{{cityname}} </a>
            </div>
        </div>
        <div class="yd-head-r">
            <div v-if="id">
                <div>
                    <span> <a href="personal/edit_profile.html">欢迎 {{user}}</a></span>
                    <span style="margin-left: 12px"> <a href="user/login.html" id="out_user">退出</a></span>
                </div>
            </div>
            <div v-else>
                <div>
                    <span><a href="user/login.html">登录</a></span>
                </div>
                <div>
                    <span style="margin-left: 12px">  <a href="user/user_log_on.html">注册</a></span>
                </div>
            </div>
            <div>
                <span style="font-size: 12px">|</span>
            </div>
            <a href="personal/my_order.html" v-if="id">
                <span>我的订单</span>
            </a>
            <a href="user/login.html" v-else>
                <span>我的订单</span>
            </a>
            <a href="personal/my_ecai.html" v-if="id">
                <span>我的e采</span>
            </a>
            <a href="user/login.html" v-else>
                <span>我的e采</span>
            </a>
            <a href="zaixian_kefu.html" v-if="id">
                <span>客户服务</span>
            </a>
            <a href="user/login.html" v-else>
                <span>客户服务</span>
            </a>
            <a href="#">
                <span>手机e采</span>
            </a>
        </div>
    </div>
        </div>
        <div class="yd-search">
            <img src="../assets/login2.png" alt="">
            <div class="yd-search-input">
                <input type="text">
                <a href="搜索-分类.html"><img src="../assets/搜索.png" alt="" style="margin-top: 8px;"></a>
            </div>
             <a href="personal/my_shopping_cart.html" class="shop-car" style="z-index: 1000;width: 180px;height: 46px;border: 1px solid #E0E6ED;border-radius: 47px;">
            <img src="../assets/shopicon.png" alt="">
            <div>0</div>
            <div style="min-width: 40px;padding-left: 18px">购物车</div>
        </a>
        </div>

        <div class="yd-store-nav">
            <a href="" class="st-act" >全部商品分类
                <img src="../assets/select-blue.png" alt="">
                <div class="sel-nav" style="display: none;position:absolute;z-index:99999">
                    <div class="sel-nav-item">
                        <span>电视机</span>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="sel-nav-item">
                        <span>平板电脑</span>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="sel-nav-item">
                        <span>冰箱</span>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="sel-nav-item">
                        <span>空调</span>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="sel-nav-item">
                        <span>摄影摄像</span>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="sel-nav-item">
                        <span>智能电器</span>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="sel-nav-item">
                        <span>生活小家电</span>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="sel-nav-item">
                        <span>数码影音</span>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="sel-nav-item">
                        <span>电脑设备</span>
                        <i class="fa fa-angle-right"></i>
                    </div>


                </div>

            </a>
            <a href="index.html">首页</a>
            <a :href="'pro_jingxuan.html?aid='+blocks_list.id" v-for="blocks_list in blocks">{{blocks_list.title}}</a>
        </div>
        <div id="yd-dutch-main">
            <div class="goods-info">
                <div>{{pro_xq.name}}</div>
                <div>
                    <div>e采商城 
                        <span class="store-type" v-if="pro_xq.showTag == 0">e彩自营</span>
                        <span class="store-type" v-else>{{shop_item.title}}</span>
                    </div>

                    <div><a href="zaixian_kefu.html"><img src="../assets/contactb.png" class="contact" alt="">联系卖家</a></div>
                    <div><a href="javascript:;" @click="payshop"><img src="../assets/payshop.png" alt=""></a></div>
                </div>
            </div>
            <div class="goods-det">
                <!-- <div class="goods-det-l">
                    <div class="big">
                        <img src="../assets/e采商城图片/商品详情页/1.jpg" alt="">
                    </div>
                    <div class="img-control">
                        <div class="img-prev"><img src="../assets/Shape%20页码左.png" alt=""></div>
                        <img v-bind:src="imgslist | formatImg96x30" alt="" class="ctr-item" v-for="imgslist in imgs">

                        <div class="img-next"><img src="../assets/Shape%20页码右.png" alt=""></div>
                    </div>
                    <div class="l-bot">
                        <img src="../assets/关注店铺.png" alt="">
                        <img src="../assets/分享商品.png" alt="" onclick="share()">
                    </div>
                </div> -->
              <div style="width:500px; margin:50px auto;margin-left: 100px">
                    
                    <!--页面必要代码,img标签上请务必带上图片真实尺寸px-->
                    <div id="showbox">
                      <img :src="imgslist | formatImg170x160" width="270" height="180" / v-for="imgslist in imgs">
                    </div><!--展示图片盒子-->
                    <div id="showsum"></div><!--展示图片里边-->
                    <p class="showpage">
                      <a href="javascript:void(0);" id="showlast"> < </a>
                      <a href="javascript:void(0);" id="shownext"> > </a>
                    </p>
                </div>

                <div class="goods-det-r">
                    <div class="goods-des">{{pro_xq.name}}</div>
                    <div class="goods-price-info">
                        <div>价格 <span class="order-price">{{pro_xq.price | formatFee}}</span> <del style="text-decoration:line-through">{{pro_xq.marketPrice | formatFee}}</del></div>
                        <div class="blank"></div>
                        <div class="store-serve">
                            <span v-for="lbels_list in lbels">{{lbels_list.name}}</span> 
                        </div>
                        <div class="fi">
                            <div>
                                <p>累计评价</p>
                                <p class="fi-color">4900+</p>
                            </div>
                            <div>
                                <p>月销</p>
                                <p class="fi-color">3780</p>
                            </div>
                        </div>
                    </div>
                    <div class="send-add">
                        <div>配送至:    
                            <select name="上海黄浦区" v-on:change="changeAddress" @click="isLogin"> 
                                <option :value="addresslist.id" v-for="addresslist in address">{{addresslist.provinceName}}-{{addresslist.cityName}}-{{addresslist.areaName}}-{{addresslist.street}}</option> 
                            </select>  
                            <!-- <img src="../assets/ShapeCopy.png" alt="" @click=""> -->  有货 </div>
                        <p>由e采商城发货，并提供售后服务，23:00前完成下单，预计明天（04月18日）送达</p>
                    </div>

                    <div class="goods-price-info attr-cho">
                        <div class="attr-cho-t">
                           <!--  <div>属性</div> -->
                            <div style="display:block;text-align: center">规格</div>
                            <div style="display:block;text-align: center">库存</div>
                            <div style="display:block;text-align: center">价格</div>
                            <div style="display:block;text-align: center">数量</div>
                        </div>
                        <div class="attr-cho-t" v-for="skuslist in skus">
                           <!--  <div>{{skuslist.name}}</div> -->
                            <div style="display:block;text-align: center">{{skuslist.name}}</div>
                            <div style="display:block;text-align: center">{{skuslist.stock}}</div>
                            <div style="display:block;text-align: center">{{skuslist.price | formatFee}}</div>
                            <div>
                                <img src="../assets/base%20减.png" alt="" v-on:click="basejian" class="sku_jian">
                                <input type="text" class="goods-num sku_input" placeholder="0" v-model="skuslist.quantity" v-on:blur="changeNum"></input>
                                <img src="../assets/base.png" alt="" v-on:click="basejia" class="sku_jia">
                            </div> 
                        </div>
                        <div class="r-fixed">
                            (本件商品{{pro_xq.minNum}}件起订)
                        </div>
                    </div>


                    <div class="yd-book" v-show="pay_type>0">
                        <a href="javascript:void(0)" class="book" @click="groupon"><div>立即开团</div></a>
                    </div>
                    <div class="yd-book" v-show="pay_type==0">
                        <a href="javascript:void(0)" class="book" @click="quick"><div>快速购买</div></a>
                        <a href="javascript:void(0)" class="book" @click="quotes"><div>加入购物车</div></a>
                    </div>

                    <div class="send-info">
                        <div>物流提示</div>
                        <div>
                            送货上门

                            <div class="tip">
                                <span class="arrow-up"></span>
                                本公司最低起送额：￥2000.00
                            </div>
                        </div>
                        <div>物流包邮</div>
                        <div>物流自付</div>
                    </div>
                </div>
            </div>
            <div class="other-info">
                <div class="other-l">
                    <div class="more-store">
                        <div>e采商城 
                        <span class="store-type" v-if="pro_xq.showTag == 0">e彩自营</span>
                        <span class="store-type" v-else>{{shop_item.title}}</span>
                        </div>
                        <div>
                            <div><a :href="'shop_index.html?shopId='+shop_item.id">进店逛逛</a></div>
                            <div><a href="javascript:void;" @click="payshoping"><img src="../assets/satr.png" alt="">关注店铺</a></div>
                        </div>
                    </div>
                    <!-- <div class="other-goods">
                        <div class="o-goods-img">
                            <img src="../assets/e采商城图片/商品详情页/6.jpg" alt="">
                        </div>
                        <div class="o-goods-data">飞利浦空气净化器香槟色</div>
                        <div class="o-goods-price">￥2299.00</div>
                    </div>
                    <div class="other-goods">
                        <div class="o-goods-img">
                            <img src="../assets/e采商城图片/商品详情页/7.jpg" alt="">
                        </div>
                        <div class="o-goods-data">海尔3匹圆柱空调柜机</div>
                        <div class="o-goods-price">￥2299.00</div>
                    </div>
                    <div class="other-goods">
                        <div class="o-goods-img">
                            <img src="../assets/e采商城图片/商品详情页/8.jpg" alt="">
                        </div>
                        <div class="o-goods-data">变频滚筒洗衣机型号2882</div>
                        <div class="o-goods-price">￥2299.00</div>
                    </div> -->
                </div>
                <div class="other-r">
                    <div style="">
                    <div class="other-nav">
                        <a href="javascript:;" :class="qieshow==0 ? 'nav-act' :'' " @click='qieshow=0'>商品详情</a>
                        <a href="javascript:;" :class="qieshow==1 ? 'nav-act' :'' " @click='qieshow=1'>规格包装</a>
                        <a href="javascript:;" :class="qieshow==2 ? 'nav-act' :'' "  @click='qieshow=2'>累计评论 <span class="comment">({{summary1.rate5}})</span></a>
                        <a href="javascript:;" :class="qieshow==3 ? 'nav-act' :'' "  @click='qieshow=3'>售后保障</a>
                    </div>
                    </div>
                   <!--  <div class="goods-info-con">
                         <div  v-for="skuslist in skus">
                             <div>品牌：格力（GREE）</div>
                             <div>商品名称：{{skuslist.name}}</div>
                             <div>  变频/定频：变频</div>
                             <div>商品匹数：1.5匹</div>
                         </div>
                        <div>
                            <div>商品编号：1993092</div>
                            <div>冷暖类型：冷暖空调</div>
                            <div>能效等级：三级能效</div>
                        </div>
                        <div>
                            <div>商品编号：1993092</div>
                            <div>产品特色：变频空调，静音空调，自动清洁</div>
                            <div>使用面积：15-20㎡</div>
                        </div>
                        <div>
                            <div>商品产地：中国大陆</div>
                            <div>内机颜色：白色</div>
                            <div>空调类型：壁挂式空调</div>
                        </div>
                    </div> -->
                    <!-- 售后服务 -->
                     <div class="goods-info-con" v-show="qieshow==3">
                          <div class="after-sale">
                                    <div>售后服务</div>
                                    <p>服务承诺：e采商城向您保证所售商品均为正品行货，与您亲临商场选购的商品享受相同的质量、服务保障，请放心购买；如您购物环节遇到任何问题，请第一时间联系客服人员，我们会尽心为您处理问题。</p>
                                    <p>网站为您提供的送货、安装、维修等服务可能需收取一定的服务费和远程费，服务中可能涉及的材料费请以服务工程师出示的报价单为准。</p>
                                    <p>请您收货后与快递人员一起开箱验货，确保产品完好，生产日期认可，如有问题请当场拒收。</p>
                          </div>
                     </div>
                    <!-- 商品详情 -->
                    <div  v-show="qieshow==0">
                        <div class="coupon">
                            <div class="u-item" v-for="couponslist in coupons">
                                <div>
                                    <div class="count">￥ <span class="super">{{couponslist.fee | formatee1}}</span> </div>
                                    <div class="call">{{couponslist.name}}</div>
                                    <div class="date">{{couponslist.effectTime}} - {{couponslist.dueTime}}</div>
                                </div>
                                <div>
                                    <div> 仅可购买e采自营部份家电商品</div>
                                    <!-- <div>券编号：1234567862</div> -->
                                    <div class="use-it"><a href='javascript:void;' class="lingqu_youhui" :couponsid="couponslist.id">立即领取</a></div>
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%;" v-html="pro_xq.richContentPc">
                            {{pro_xq.richContentPc}}
                        </div>
                    </div>
                    <!-- 评价 -->
                    <div  v-show="qieshow==2">
                     <div class="comment-con">
                        <div class="com-head">
                            <div>
                                <div>好评度</div>
                                <div class="com-head-per"><span>{{summary1.rate5}}</span></div>
                            </div>
                            <div>
                                <div>
                                    <span>好评</span><span class="percent">({{summary1.rate5}})</span><span class="per-container"></span>
                                </div>
                                <div>
                                    <span>中评</span><span class="percent">(0%)</span><span class="per-container"></span>
                                </div>
                                <div>
                                    <span>差评</span><span class="percent">(0%)</span><span class="per-container"></span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-nav">
                            <div class="com-nav-item com-act">
                                全部评价({{summary1.records}})
                            </div>
                            <div class="com-nav-item">
                                有图评价({{summary1.recordsHasImg}})
                            </div>
                            <div class="com-nav-item">
                                好评({{summary1.records5}})
                            </div>
                            <div class="com-nav-item">
                                中评({{summary1.records3}})
                            </div>
                            <div class="com-nav-item">
                                差评({{summary1.records1}})
                            </div>
                        </div>
                        <div class="comment-main">

                            <div class="com-item" v-for="commentslist in comments">
                                <div class="com-user">
                                    <img src="../assets/头像%20中.png" alt="">
                                    <span class="com-user-nickname">{{commentslist.nickName}}</span>
                                </div>
                                <div class="com-info">
                                    <div class="raty1" style="min-width: 400px"></div>
                                    <div>送货上楼真的太贴心了，物流也非常快。商品很完整外包装都保护的很好，非常棒的购物体验。</div>
                                    <div class="com-img-group">
                                        <img src="../assets/e采商城图片/商品详情页/1.jpg" class="com-img-b" alt="">
                                        <img src="../assets/e采商城图片/商品详情页/2.jpg" class="com-img-n" alt="">
                                        <img src="../assets/e采商城图片/商品详情页/3.jpg" class="com-img-n" alt="">
                                    </div>
                                    <div class="com-footer">
                                        <span>黑色 50L</span>
                                        <span>2017.04.18  10:35</span>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>

                    <div class="a-goods-page" style="display:none">
                        <div class="prev page">
                            <img src="../assets/Shape%20页码左.png" alt="">
                        </div>
                        <div class="page">1</div>
                        <div class="page current">2</div>
                        <div class="page">3</div>
                        <div class="next page">
                            <img src="../assets/Shape%20页码右.png" alt="">
                        </div>

                    </div>
                   </div>
              </div>
            </div>



            <div id="scroll">
                <a href="zaixian_kefu.html"  style="cursor:pointer">
                <div>
                    <img src="../assets/conatshang.png" alt="">
                    <span>联系商家</span>
                </div>
                </a>
                <div onclick="gotop()" style="cursor:pointer">
                    <img src="../assets/backtop.png" alt="">
                    <span>回到顶部</span>
                </div>
            </div>

        </div>

        <div class="mask" ></div>
        <div class="yd-alert">
            <div class="alert-top">
                <div>分享给好友</div>
                <div><img src="../assets/关闭.png" alt="" onclick="clo()"></div>
            </div>
            <div>
                <div class="alert-label">分享到：</div>
                <div>
                    <div class="share-type">
                        <span> <img src="../assets/wei.png" alt=""> 微信好友</span>
                        <span> <img src="../assets/friend.png" alt=""> 朋友圈</span>
                    </div>
                    <div class="alert-area" contenteditable="true">
                        <span> <span class="val">0</span>/100字</span>
                    </div>
                    <div>
                        <div class="share share-link">分享链接</div>
                    </div>
                </div>
            </div>

            <div>
                <div class="alert-label">选择配图：</div>
                <div>
                    <div class="img-g">
                        <div class="img-c-item chosed"><img src="../assets/imagec.png" alt=""></div>
                        <div class="img-c-item"><img src="../assets/imagec.png" alt=""></div>
                        <div class="img-c-item"><img src="../assets/imagec.png" alt=""></div>
                    </div>
                    <div>
                        <div class="share">分享</div>
                    </div>
                </div>
            </div>


        </div>
        <!--<div id="yd-login-footer">-->
            <!--Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358-->
        <!--</div>-->

    </div>
</div>
</body>
<script src="../js/swiper/Swiper-3.4.2/dist/js/swiper.jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="../js/leftTime.js"></script>
<script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="../js/utils.js"></script>
<script src="../js/config.js"></script>
<script src="../js/top.js"></script>
<script src="../js/pro_jingxuan_list.js"></script>
<script>
    $.fn.raty.defaults.path = '../js/lib/eva-img';
    $('.raty1').raty({readOnly:true,score:4});
</script>

<script>
    var share = function () {
        $('.mask').show()
        $('.yd-alert').show()
    }
    var clo = function () {
        $('.mask').hide()
        $('.yd-alert').hide()
    }
    var gotop = function () {
        $(window).scrollTop(0)
    }
    $('.st-act').hover(function () {
        $('.sel-nav').toggle()
        $('.st-act img').toggleClass('down')
    })
</script>
</html>