<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/store.css">
    <link rel="stylesheet" href="../js/swiper/Swiper-3.4.2/dist/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <title></title>
</head>
<body>
<div id="shopindex" v-cloak>
    <div class="yd-main">
        <div id="yd-head">
      <div class="yd-head" id="top">
        <div class="yd-head-l">
            <div>
                <img src="../assets/index.png" alt="">
                <a href="##">首页</a>
            </div>
            <div>
                <a href="choose_add.html"><span>切换城市</span></a>
            </div>
            <div class="yd-head-l-add">
                <img src="../assets/coordinate.png" alt="">
                <a href="choose_add.html">{{cityname}} </a>
            </div>
        </div>
        <div class="yd-head-r">
            <div v-if="id">
                <div>
                    <span> <a href="personal/edit_profile.html">欢迎 {{user}}</a></span>
                    <span style="margin-left: 12px"> <a href="user/login.html" id="out_user">退出</a></span>
                </div>
            </div>
            <div v-else>
                <div>
                    <span><a href="user/login.html">登录</a></span>
                </div>
                <div>
                    <span style="margin-left: 12px">  <a href="user/user_log_on.html">注册</a></span>
                </div>
            </div>
            <div>
                <span style="font-size: 12px">|</span>
            </div>
            <a href="personal/my_order.html" v-if="id">
                <span>我的订单</span>
            </a>
            <a href="user/login.html" v-else>
                <span>我的订单</span>
            </a>
            <a href="personal/my_ecai.html" v-if="id">
                <span>我的e采</span>
            </a>
            <a href="user/login.html" v-else>
                <span>我的e采</span>
            </a>
            <a href="zaixian_kefu.html" v-if="id">
                <span>客户服务</span>
            </a>
            <a href="user/login.html" v-else>
                <span>客户服务</span>
            </a>
            <a href="#">
                <span>手机e采</span>
            </a>
        </div>
        </div>
        </div>
        <div class="yd-search">
            <img src="../assets/logo.png" alt="">
            <div class="yd-search-input">
                <input type="text">
                <span>搜全站</span>
                <span>搜本店</span>
            </div>
            <a class="shop-car">
                <img src="../assets/shopicon.png" alt="">
                <div>0</div>
                <div style="min-width: 80px;">购物车</div>
            </a>
        </div>
        <div style="width: 100%;border-top: 2px solid #D8D8D8;">
        <div class="yd-store-info">
            <a>{{block_pro.title}}</a>
            <a>
                店铺评分
                <span>
                    <span>{{summary.star}}</span>
                    <img src="../assets/selectpink.png" alt="" @click="point">
                    <div class="score-det" v-show='xiala==2'>
                        <div> 
                            <div>商品描述：{{summary.catalogStar}}</div>
                            <!-- <div>评分详情：{{summary.logisticsStar}}</div> -->
                            <div>服务态度：{{summary.serviceStar}}</div>
                            <div>物流服务：{{summary.logisticsStar}}</div>
                        </div>
                        <div>
                            <div>店铺名称：</div>
                            <div>{{summary.title}}</div>
                            <div>认证信息：已认证</div>
                        </div>
                    </div>
                </span>
            </a>
            <a><img src="../assets/contactb.png" alt="">联系客服3</a>
        </div>
        </div>
        <div class="yd-store-img">
            <img :src="pcAd.img | formatImg1960x120" alt="">
        </div>

        <div class="yd-store-nav">
            <a href="" class="st-act">全部商品分类
                <img src="../assets/select-blue.png" alt="">
            </a>
            <a :href="'shop_index.html?shopId='+shopId" class="ty-act">首页</a>
            <a :href="'shop_index_list.html?shopId='+shopId+'&sp='+blocklist.id" v-for="blocklist in block">{{blocklist.name}}</a>
        </div>

        <!--lunbotu-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="pcCarousellist in pcCarousel">
                    <a href="">
                    <img :src="pcCarousellist.img | formatImg1200x460" class="swi-img" alt="">
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <!--<div class="swiper-pagination"></div>-->
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

<!--ttttttttttttttttttttttttttttttttt-->
      <div id="store-info">
        <div class="store-img-intr">
            <a class="img-item">
                <img src="../assets/正品保证.png" alt="">
            </a>
            <a class="img-item">
                <img src="../assets/全国联保.png" alt="">
            </a>
            <a class="img-item">
                <img src="../assets/上门服务.png" alt="">
            </a>
        </div>


        <!-- <div class="store-goods">
            <div class="store-goods-type">热卖商品</div>
            <div class="store-goods-container">
            
            <div>
                <h1 style="text-align: center">板块标题</h1>
            <div class="st-g-l">
                <div class="goods-item height">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/1.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>霍尼韦尔（Honeywell）反渗透直饮净水器过滤纯水机</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/2.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>飞利浦(PHILIPS)空气净化器香槟色</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/3.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>TCL456升冷藏电脑温控十字对开门冰箱</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/4.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>能率13升智能精控恒温日本原装节能燃气热水器</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/5.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>Beats蓝牙无线音响
                            音质白色型号qzc50</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/6.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>长虹50英寸双64位超高清智能LED平板液晶电</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/7.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>苏泊尔（SUPOR）榨汁机家用果汁机</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/8.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>宁普家用厨房一体机单冷便携式移动空调</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="st-g-l">
                <div class="goods-item height">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/9.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>海尔（Haier)8公斤变频滚筒洗衣机</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/10.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>海尔模卡55英寸安卓智能窄边框LED液晶电视</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/11.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>海尔12升水气恒温智能变升温控燃气热水器</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/12.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>海尔18大吸力欧式吸油烟机</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/13.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>Beats蓝牙无线音响
                            音质白色型号qzc50</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/14.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>Beats蓝牙无线音响
                            音质白色型号qzc50</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/15.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>Beats蓝牙无线音响
                            音质白色型号qzc50</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
                <div class="goods-item">
                    <div class="goods-img">
                        <img src="../assets/e采商城图片/旗舰店首页/16.jpg" alt="">
                    </div>
                    <div class="goods-data">
                        <div>Beats蓝牙无线音响
                            音质白色型号qzc50</div>
                        <div class="goods-price">
                            ￥500.00
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div> -->

        <div class="store-goods"  v-for="blocklist in block">
            <div class="store-goods-type">{{blocklist.name}}</div>
            <div class="store-goods-container">
                <div class="store-g-two">
                    
                    <div class="goods-t-item" >
                        <div class="g-t-img">
                            <img src="../assets/e采商城图片/旗舰店首页/24.jpg" alt="">
                        </div>
                        <div>
                           
                        </div>
                        <div>
                            ￥500.00
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!-- <div class="store-goods">
            <div class="store-goods-type">人气单品</div>
            <div class="store-goods-container">
                <div class="solo-goods">
                     <img src="../assets/solodemo.png" alt="">
                </div>
            </div>
        </div> -->

      </div>
        
        <div id="yd-login-footer">
            Ecaishangcheng &#169; 2003-2018 ，e采商城有限公司版权所有 沪ICP备16207556号-6| 沪B6-20140131| 沪B6-20140358
        </div>

    </div>
</div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="../js/swiper/Swiper-3.4.2/dist/js/swiper.jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/top.js"></script>
    <script src="../js/shop_index.js"></script>
    <script>
        
    </script>
</body>
</html>