.offer-btn{
    color: #FF6600;
    border-color: #FF6600;
}
.wait{
    color: #FF6600;
    font-size: 16px;
}
.order-state{
    font-size: 18px;
}
.fa-angle-right{
    font-size: 22px !important;
}
.sur-time{
    font-size: 16px;
}
.foot-op a{
    font-size: 14px;
    color: #666666;
    text-decoration: underline;
    text-align: center;
    width: 150px;
    margin-right: 30px;
    margin-top: 10px;
}